:root {
    --primary-color: #a4cd39;
    --secondary-color: #004a80;
    --title-color: #33649f;
    --text-color: #333333;
    --bg-light-color: #ffffff;
    --bg-dark-color: #f7f7f7;
    --bg-blue-color: #004a80;
    --border-color: #d3d7d9;
    --white-color: #ffffff;
    --green-fly-color: #a6ce39; 
    --blue-fly-color: #0079a7;
    --bg-blue-guest: #31a9e1;
    --title-tour: #0082b3;
    --sub-title-tour: #00adee;
    --secondary-tour: #00364b;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

/* Define Font */

@font-face {
    font-family: 'SVN-Avo';
    src: url(../fonts/SVN-Avo.ttf);
}
@font-face {
    font-family: 'helvetica-neue-condensed-black';
    src: url(../fonts/helvetica-neue-condensed-black.ttf);
}
@font-face {
    font-family: 'Alegreya-Regular';
    src: url(../fonts/Alegreya-Regular.ttf);
}
@font-face {
    font-family: 'Alegreya-Medium';
    src: url(../fonts/Alegreya-Medium.ttf);
}
@font-face {
    font-family: 'Alegreya-Bold';
    src: url(../fonts/Alegreya-Bold.ttf);
}
@font-face {
    font-family: 'Alegreya-Italic';
    src: url(../fonts/Alegreya-Italic.ttf);
}
@font-face {
    font-family: 'Alegreya-ExtraBold';
    src: url(../fonts/Alegreya-ExtraBold.ttf);
}
@font-face {
    font-family: 'helvetica-neue-light';
    src: url(../fonts/helvetica-neue-light.ttf);
}
@font-face {
    font-family: 'Helvetica-Bold';
    src: url(../fonts/Helvetica-Bold.ttf);
}
@font-face {
    font-family: 'helvetica-neue-regular';
    src: url(../fonts/helvetica-neue-regular.ttf);
}
@font-face {
    font-family: 'helvetica-neue-bold';
    src: url(../fonts/helvetica-neue-bold.ttf);
}
@font-face {
    font-family: 'helvetica-neue-medium';
    src: url(../fonts/helvetica-neue-medium.ttf);
}
@font-face {
    font-family: 'helvetica-neue-ultra-light';
    src: url(../fonts/helvetica-neue-ultra-light.ttf);
}

@font-face {
    font-family: 'helvetica-neue-ultra-light';
    src: url(../fonts/helvetica-neue-ultra-light.ttf);
}

@font-face {
    font-family: 'SVN-Aleo-Bold';
    src: url(../fonts/SVN-Aleo-Bold.otf);
}

@font-face {
    font-family: 'SVN-Aleo-Regular';
    src: url(../fonts/SVN-Aleo-Regular.otf);
}


body {
    font-family: 'SVN-Avo', sans-serif;
    line-height: 1;
    font-weight: 400;
}
a {
    text-decoration: underline;
}
img {
    display: block;
    max-width: 100%;
}
button {
    cursor: pointer;
}
input, textarea, button {
    outline: none;
    box-shadow: none;
    font-family: "SVN-Avo", sans-serif;
}

/* Button bow now */

.btn-book {
    width: 17rem;
    height: 4rem;
    border: none;
    border-radius: 1.6rem;
    background-color: var(--primary-color);
    font-size: 1.88rem;
    line-height: 1.88rem;
    color: var(--white-color);
    font-family: 'helvetica-neue-condensed-black';
    text-align: center;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

/* nav scroll to top */
.btn-scroll-to-top {
    position: fixed;
    bottom: 34px;
    right: 55px;
    display: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 47px;
    height: 47px;
    visibility: visible;
    color: rgb(255, 255, 255);
    background: #32d093;
    border-radius: 50%;
    font-size: 20px;
    -webkit-text-stroke: 2px #32d093;
    padding-bottom: 4px;
    z-index: 9998;
    cursor: pointer;
}