:root {
    --bg-blue-guest: #31a9e1
}
.wrapper-fluid-bg-confirmation {
    background-color: #f9f9f9;
}

.background__header-confirm {
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 24.2rem;
    position: relative;
}


.confirm__containner__wrapper {
    display: flex;
    margin-top: 5.7rem;
    margin-bottom: 7rem;
}

.confirm__containner {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-right: 4rem;
}

.confirm__content {
    display: flex;
    flex-direction: column;
}

.confirm__content__head {
    display: flex;
    align-items: center;
}

.confirm__content-icon {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: #7cb1ff;
    color: var(--white-color);
    font-size: 1.9rem;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 700;
}

.confirm__content-title {
    display: flex;
    flex-direction: column;
    margin-left: 1.6rem;    
}
.confirm__content-title h4{
    font-family: 'helvetica-neue-medium';
    font-size: 2.2rem;
    color: #0061d0;
    margin-bottom: 0.5rem;
}
.confirm__content-title h5{
    font-family: 'helvetica-neue-regular';
    font-size: 1.4rem;
    color: #999999;
}

.confirm__content__body {
    display: flex;
    flex-direction: column;
    font-family: 'helvetica-neue-regular';
    padding-left: 5.6rem;
}
.confirm__content__body h4{
    font-size: 1.8rem;
    color: #555555;
    font-family: 'helvetica-neue-medium';
    margin-top: 1.4rem;
    margin-bottom: 2.6rem;
}
.confirm__content__body h4 span{
    color: #0060cd;
}
.confirm__content__body p{
    font-size: 1.2rem;
    line-height: 1.8rem;
}
.confirm__content__body p a{
    color: #7cb1ff;
}


.confirm-view-invoice span{
    font-weight: bold;
    font-size: 1.3rem;
    color: #85c99d;
    padding: 1.6rem 7.5rem;
    border: 3px solid #85c99d;
    cursor: pointer;
    border-radius: 4px;
}

.confirm-view-invoice span:hover {
    background-color: #d7faf7;
}


.confirm__bill__table {
    font-family: 'helvetica-neue-medium';
    border-collapse: collapse;
    margin-left: 5.6rem;
    margin-top: 3.4rem;
}
.confirm__bill__table th{
    border: 1px solid var(--blue-fly-color);
    font-size: 1.4rem;
    color: #3479d3;
    height: 2.5rem;
    font-weight: 600;
    padding-top: 0.4rem;
}
.confirm__bill__table td{
    border: 1px solid var(--blue-fly-color);
    font-size: 1.4rem;
    color: #3479d3;
    height: 3.7rem;
}
.confirm__bill__table td h5{
    font-family: 'helvetica-neue-regular';
    font-size: 1.2rem;
    margin-top: 0.4rem;
    margin-left: 1.4rem;
}
.confirm__bill__table td h4{
    margin-left: 1.4rem;
    padding-top: 0.8rem;
}


.bill__head-cf {
    text-align: center;
    font-family: 'helvetica-neue-medium';
    font-size: 2.4rem;
    color: var(--white-color);
    margin-bottom: 3rem;
    background-color: #256fd3;
    padding: 1.4rem 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.bill__wrapper-cf {
    background-color: var(--white-color);
    border: 1px solid #dddddd;
    width: 36rem;
    border-radius: 4px;
}

.bill-fly-choose-cf, .bill-fly-total__title-cf {
    margin-left: 5rem;
}

.bill-fly__departure-cf, .bill-fly__return-cf {
    margin-right: 2.7rem;
}


.bill-fly__sub-cf h5:last-child{
    display: flex;
    justify-content: space-between;
}

.bill-fly__sub-cf span{
    font-weight: 700;
}

.bill-fly-total-cf {
    padding-top: 3.8rem;
}

.bill-fly-price__list-cf {
    display: block;
    padding-left: 5rem;
    padding-right: 2rem;    
}


.confirm_see_detail-book-btn {
    text-decoration: none;
    border: 2px solid var(--green-fly-color);
    margin: 4rem 3rem;
    border-radius: 4px;
}

.confirm_see_detail-book-btn span{
    font-family: 'helvetica-neue-medium';
    font-size: 1.3rem;
    color: var(--green-fly-color);
    margin: 1.5rem 0;
    display: flex;
    justify-content: center;
}

.confirm__support {
    background-color: var(--white-color);
    margin-top: 1.3rem;
    border: 1px solid #dddddd;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.3rem 0 4.4rem;
}
.confirm__support h4{
    font-family: 'helvetica-neue-medium';
    font-size: 1.8rem;
    color: var(--green-fly-color);
    margin-top: 1.7rem;
}
.confirm__support h5{
    margin-top: 1.2rem;
    font-size: 2.4rem;
    color: #00bff3;
    font-weight: 700;
}
.confirm__support span{
    font-family: 'helvetica-neue-medium';
    font-size: 1.2rem;
    color: #333333;
    margin-top: 1.2rem;
}

.confirm__support-icon {
    
}
.confirm__support-icon i{
    font-size: 5.4rem;
    color: #555555;
}

.tour__guide-cf {
    width: 100%;
}

.guide__list__item-cf {
    width: 30%;
}
.guide__list__img-cf {
    height: 20rem;
}

.guide__list__name-cf {
    font-size: 2rem;
}

.guide__list__feedback-cf {
    font-size: 1.5rem;
}

.guide__list__major-cf {
    font-size: 1.5rem;
}

.guide__heading-title-cf h2 {
    font-size: 3rem;
}