.wrapper-fluid-search-hotel {
    .search__wrapper {
        margin: 2rem 0;
        .search__container {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2rem;
            box-shadow: 0 0 10px rgba(0 ,0 ,0 , 0.2);
            max-width: 1024px;
            .search-text {
                flex: 3;
                margin-right: 1rem;
                .search-input {
                    width: 100%;
                    padding: 1rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px solid #e1e1e1;
                    border-radius: 4px;
                    &:hover {
                        border-color: var(--primary-color);
                    }
                    input[type=text] {
                        padding: 0;
                        border: none;
                        outline: none;
                        font-size: 1.5rem;
                        width: 100%;
                    }
                    i {
                        font-size: 1.5rem;
                        color: #bb9b9b;
                        padding-left: 1rem;
                    }
                }
            }
            .search-date {
                flex: 2;
                border: 1px solid #e1e1e1;
                padding: 1rem;
                border-radius: 4px;
                margin-right: 1rem;
                input {
                    border: none;
                    width: 100%;
                    text-align: center;
                }
            }
            .search-button {
                flex: 1;
                background-color: var(--green-fly-color);
                color: var(--bg-light-color);
                padding: 1.2rem;
                border-radius: 4px;
                text-align: center;
                cursor: pointer;
                span {
                    font-size: 1.6rem;
                    font-family: 'helvetica-neue-regular';
                }
                &:hover {
                    background-color: #ade612;
                }
            }
        }
    }

    .body-hotel {
        margin: 2rem 0;
        .body__wrapper {
            margin: 0 auto;
            max-width: 1024px;
            display: flex;
            flex-direction: column;
            .top {
                .hotel-name {
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;
                    .name {
                        font-size: 2rem;
                        font-weight: 600;
                        color: rgba(0,0,0,.85);
                        margin-right: 1rem;
                    }
                    .vote-star {
                        display: flex;
                        color: var(--green-fly-color);
                        li {
                            margin: 0 .5rem;
                            i {
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
                .address {
                    margin-bottom: 1rem;
                    i {
                        font-size: 1.5rem;
                        margin-right: 0.5rem;
                    }
                    span {
                        font-size: 1.2rem;
                        color: #595959;
                    }
                }
                .list-gallery {

                }
            }
            .roomFilter {
                margin: 1rem 0;
                ul {
                    display: flex;
                    align-items: center;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                    padding: 1rem;
                    border-radius: 1rem;
                    li {
                        margin: 0 1rem 
                    }
                    .liTitle {
                        p {
                            font-size: 1.4rem;
                            font-weight: bold;
                        }
                    }
                    .liItem {
                        button {
                            color: #878787;
                            border: 1px solid;
                            background-color: #fff;
                            border-radius: 2rem;
                            box-shadow: none;
                            line-height: 3rem;
                            &.select {
                                color: var(--green-fly-color);
                            }
                            span {
                                padding: 1rem;
                                font-weight: 600;
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
            .list-hotel {
                .item-hotel {
                    display: flex;
                    flex-direction: column;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                    border-radius: 1rem;
                    margin-bottom: 1rem;
                    .header-hotel {
                        display: flex;
                        img {
                            width: 100px;
                            border-top-left-radius: 1rem;
                        }
                        .roomItem__info {
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                            padding: 1rem;
                            .roomItem__info__left {
                                width: 100%;
                                .roomItem__name {
                                    margin-bottom: 1rem;
                                    span {
                                        font-family: 'helvetica-neue-medium';
                                        font-size: 1.8rem;
                                        color: var(--bg-blue-guest);
                                    }
                                }
                                .roomItem__flex {
                                    display: flex;
                                    flex-direction: column;
                                    .roomItem__facilities {
                                        display: flex;
                                        margin-bottom: 1rem;
                                        .facilities {
                                            display: flex;
                                            justify-content: flex-start;
                                            width: 100%;
                                            .facilities__item {
                                                margin: 0 1rem;
                                                .tooltip {
                                                    i {
                                                        font-size: 1.8rem;
                                                        color: rgb(135, 135, 135);
                                                        margin-right: 1rem;
                                                    
                                                    }
                                                    span {
                                                        color: #000;
                                                        font-size: 1.3rem;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .roomItem__info__right {
                                width: 12rem;
                                .roomItem__show {
                                    button {
                                        background-color: transparent;
                                        border: none;
                                        &:hover {
                                            text-decoration: underline;
                                            color: var(--sub-title-tour);
                                        }
                                        span {
                                            font-size: 1.4rem;
                                            color: var(--sub-title-tour);
                                            font-weight: bold;
                                        }
                                        i {
                                            color: var(--sub-title-tour);
                                            font-size: 1.4rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .roomItem__body {
                        .roomItem__row {
                            display: flex;
                            justify-content: space-between;
                            padding: 1rem;
                            border-top: 1px solid #e1e1e1;
                            .roomItem__policy {
                                flex: 3;
                                .roomPolicy {
                                    display: flex;
                                    justify-content: space-around;
                                    height: 100%;
                                    align-items: center;
                                    .roomPolicy__item {
                                        display: flex;
                                        .roomPolicy__icon {
                                            border-radius: 50%;
                                            border: 2px solid;
                                            height: 4rem;
                                            width: 4rem;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            margin-right: 1rem;
                                            i {
                                                font-size: 2rem;
                                            }
                                        }
                                        .roomPolicy__text {
                                            display: flex;
                                            flex-direction: column;
                                            span:first-child {
                                                font-size: 1.6rem;
                                                font-family: 'helvetica-neue-regular';
                                                margin-bottom: 0.5rem;
                                            }
                                            span:last-child {
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                font-size: 1.2rem;
                                                .tooltipBox {
                                                    i {
                                                        margin-left: 1rem;
                                                        font-size: 1.2rem;
                                                        color: #000;
                                                        cursor: pointer;
                                                        position: relative;
                                                        &:hover .tooltipBox__cont {
                                                            display: block;
                                                        }
                                                        .tooltipBox__cont {
                                                            display: none;
                                                            position: absolute;
                                                            width: 400px;
                                                            padding: 7px 15px;
                                                            border-radius: 2px;
                                                            background-color: rgba(0,0,0,.8);
                                                            color: var(--white-color);
                                                            font-size: 1.4rem;
                                                            line-height: 1.6rem;
                                                            font-family: 'helvetica-neue-light';
                                                            p:first-child {
                                                                font-weight: bold;
                                                                margin-bottom: 0.5rem;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .roomPolicy__item.red {
                                        color: red;
                                    }
                                    .roomPolicy__item.green {
                                        color: var(--green-fly-color);
                                    }          
                                }
                            }
                            .roomItem__price {
                                flex: 1;
                                .pricing {
                                    .pricing__old {
                                        display: flex;
                                        align-items: center;
                                        margin-bottom: 0.5rem;
                                        justify-content: flex-end;
                                        s {
                                            font-size: 14px;
                                            line-height: 19px;
                                            color: #8c8c8c;
                                        }
                                        .pricing__percent {
                                            background-color: #f5222d;
                                            color: #fff;
                                            font-size: 12px;
                                            padding: 2px 8px;
                                            margin-left: 5px;
                                            border-radius: 3px;
                                        }
                                    }
                                    .pricing__current {
                                        .pPrice {
                                            display: flex;
                                            justify-content: flex-end;
                                            align-items: center;
                                            font-size: 16px;
                                            color: #ff8917;
                                            font-weight: 600;
                                            margin-bottom: 0.5rem;
                                            i {
                                                font-size: 1.2rem;
                                                margin-right: 0.5rem;
                                                color: #b3a3a3;
                                            }
                                        }
                                        .priceTooltip {
                                            display: none;
                                        }
                                    }
                                    .pricing__promotion {
                                        .promotion {
                                            .promotion__title {
                                                font-size: 1.3rem;
                                                font-family: 'helvetica-neue-regular';
                                                font-weight: bold;
                                                color: #5d5c5c;
                                                text-align: right;
                                            }
                                            .promotion__price {
                                                display: none;
                                            }
                                            .promotion__price.green-1 {
                                                display: none;
                                            } 
                                        }
                                    }
                                }
                            }
                            .roomItem__btn {
                                flex: 1;
                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                button {
                                    text-transform: uppercase;
                                    background-color: var(--title-tour);
                                    color: #fff;
                                    padding: 0 15px;
                                    height: 40px;
                                    border: none;
                                    border-radius: 1rem;
                                    span {
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}