/* tour overview */

.tour__overview {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    padding: 0 1.5rem;
}

.tour__overview__head {
    background-color: #3abefb;
    display: flex;
    margin-bottom: 2rem;
}

.tour__overview__head-left {
    display: flex;
    flex-direction: column;
    color: var(--white-color);
    width: 50rem;
    padding: 4rem 3rem 2.7rem 3.5rem;
}

.tour-name {
    font-family: 'Alegreya-Regular';
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 2rem;
}

.tour-vote {
    display: flex;
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.tour-vote-list {
    display: flex;
    margin-right: 1.6rem;
}

.tour-vote-item {
    margin-right: 0.4rem;
}
.tour-vote-item i{

}


.tour-vote-number span{
    font-weight: 700;
}

.tour-feedback-list {
    display: flex;
    margin-bottom: 3rem;
}

.tour-feedback-item {
    font-size: 2rem;
    margin-right: 2rem;
}

.tour-feedback-item i{

}


.tour-infor-list {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 2.5rem;
}

.tour-infor-item {
    font-size: 1.3rem;
    font-family: 'helvetica-neue-regular';
    margin-bottom: 0.7rem;
}

.tour-infor-item span{

}


.tour-activity {
    margin-bottom: 2.5rem;
}

.tour-activity-title {
    font-family: 'helvetica-neue-condensed-black';
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
}

.tour-activity-list {

}

.tour-activity-item {
    font-size: 1.3rem;
    line-height: 1.6rem;
}

.tour-activity-item i{
    color: #95cc57;
}


.tour-price {
    display: flex;
}

.tour-price__link {
    margin-right: 8rem;
}
.tour-price__link,
.tour-price__link:hover {
    text-decoration: none;
}

.btn-book-price {
    height: 4.7rem;
    width: 14rem;
    border-radius: 5px;
    font-size: 2.4rem;
}

.tour-price-content {
    display: flex;
}

.tour-price-content span{
    font-family: 'helvetica-neue-regular';
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.tour-price-number {
    font-size: 3.1rem;
    font-family: 'helvetica-neue-regular';
}

.tour__overview__head-img {
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tour__overview__head-img::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border: 5px solid var(--white-color);
}

.tour__overview__img-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.5rem;
}

.tour__overview__img-item {

}

.tour__overview__img-item img{
    width: 18rem;
    height: 14rem;
    cursor: pointer;
}

.tour__overview__content {
    
}

.tour__overview__content p{
    font-size: 1.5rem;
    line-height: 2rem;
    color: #777777;
    font-family: sans-serif;
    font-weight: lighter;
    margin-bottom: 2.7rem;
}
.tour__overview__content p:last-child{
    font-weight: 700;
}


/* Tour Detail Infor */

.tour-detail__container {
    display: flex;
    justify-content: space-between;
}

.tour__body-left {
    display: flex;
    flex-direction: column;
    width: 37rem;
}

.tour__tips {
    border: 1px solid #eaeaea;
    padding: 4rem 0 4rem 1rem;
    margin-bottom: 4rem;
}

.tour__tips-title {
    font-family: 'helvetica-neue-regular';
    font-size: 2.2rem;
    margin-bottom: 3.7rem;
    position: relative;
}

.tour__tips-title::after,
.group__tour-travelled-title::after,
.tour__follow-us h5::after {
    position: absolute;
    content: " ";
    bottom: -1rem;
    left: 0;
    width: 10rem;
    height: 2px;
    background-color: #eee;
}

.tour__tips-list {

}

.tour__tips-item {
    margin-bottom: 4rem;
}

.tour__tips-item:last-child {
    margin-bottom: 0;
}

.tour__tips-item__link {
    text-decoration: none;
    display: flex;
}

.tour__tips-item-img {
    height: 9.3rem;
    width: 9.3rem;
    margin-right: 2rem;
    object-fit: cover;
}   

.tour__tips-item-content {
    color: #333333;
    font-family: 'Alegreya-Regular';
}
.tour__tips-item-content h4{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.tour__tips-item-content h5{
    font-size: 1.7rem;
    margin-bottom: 1.6rem;
}

.tour__tips-vote {
    font-size: 1.5rem;
}

.tour__tips-vote i{
    color: var(--green-fly-color);
}   

.tour__tips-vote span{
    color: #999999;
    margin-left: 1rem;
}

.tour__question {
    border: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.5rem;
    margin-bottom: 4rem;
}
.tour__question h3{
    font-family: 'helvetica-neue-condensed-black';
    font-size: 3rem;
    color: #68ccf5;
    margin-bottom: 1.6rem;
}

.tour__question h3 span{
    color: var(--green-fly-color);
}

.tour__question p{
    font-family: 'Alegreya-Regular';
    font-size: 1.7rem;
    line-height: 2rem;
    color: #666666;
    margin-bottom: 1.8rem;
    text-align: center;
}

.phone-support{
    font-size: 1.2rem;
    color: #666666;
    font-weight: bold;
    margin-bottom: 2.5rem;
}
.phone-support i{
    margin-right: 1rem;
    color: #000;
}
.email-support{
    font-family: 'Alegreya-Regular';
    font-size: 1.7rem;
    color: #666666;
}

.group__tour-travelled {
    display: flex;
    flex-direction: column;
    border: 1px solid #eaeaea;
    padding: 3.5rem 1rem;
    margin-bottom: 4rem;
}

.group__tour-travelled-title {
    font-family: 'helvetica-neue-regular';
    font-size: 2.2rem;
    margin-bottom: 3.7rem;
    position: relative;
}

.group__tour-travelled-list {
    display: grid;
    grid-template-columns: auto auto auto;
}

.group__tour-travelled-item {
    margin-bottom: 1rem;
}

.group__tour-travelled__link {
    text-decoration: none;
}
.group__tour-travelled__link img{
    width: 11rem;
    height: 7.3rem;
    object-fit: cover;
}

.tour__follow-us {
    border: 1px solid #eaeaea;
    padding: 4rem 0 5rem 1.3rem;
}
.tour__follow-us h5{
    font-family: 'helvetica-neue-regular';
    font-size: 2.2rem;
    margin-bottom: 3.7rem;
    position: relative;
}

.tour__follow-us-list {
    display: flex;
}

.tour__follow-us-item {
    margin-right: 1.3rem;
}

.tour__follow-us__link {
    
}

.tour__follow-us__link i{
    font-size: 2.5rem;
    color: #68cdf5;
}


.tour__body-content {
    display: flex;
    flex-direction: column;
    width: 74rem;
}

.tour__body__tab-list {
    display: flex;
    border: 1px solid #cfdcea;
    padding: 0.4rem;
    margin-bottom: 1.6rem;
    background-color: #fff;
}

.tour__body__tab-item {
    font-family: 'Alegreya-Regular';
    font-size: 1.9rem;
    color: #333333;
    border-right: 1px solid #abc2d9;
    padding: 0.6rem 2.1rem;
    cursor: pointer;
    position: relative;
    text-decoration: unset;
}

.tour__body__tab-item.active::after {
    position: absolute;
    content: "";
    bottom: -4px;
    left: -2px;
    height: 4px;
    width: 102%;
    background-color: #0073b7;
}

.tour__body__tab-item:last-child {
    border-right: none;
}

.tour__body__detail-list {

}

.tour__body__detail-item:not(:nth-child(2)) {
    border: 1px solid #8faecd;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
}

.tour__body__departure-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.4rem 0 2.4rem 2.5rem;
}

.tour__body__departure-title {
    font-family: 'helvetica-neue-regular';
    font-size: 3rem;
    color: #333333;
    text-transform: uppercase;
}

.tour__body__month-list {
    display: flex;
    justify-content: space-between;
}

.tour__body__month-item {
    font-family: 'SVN-Avo';
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1.4rem 2rem;
    cursor: pointer;
    margin: 0 0.8rem;
}

.tour__body__month-item.active{
   background-color: var(--green-fly-color);
}


.table__detail-departure {
    width: 100%;
    margin-bottom: 4rem;
}

.table__detail-departure th{
    border: 1px solid #5483b2;
    padding: 2.5rem 3.4rem;
    font-family: 'SVN-Avo';
    font-size: 1.7rem;
    color: var(--green-fly-color);
    font-weight: 700;
}

.table__detail-departure .table_des{

}

.table__detail-departure td{
    border: 1px solid #5483b2;
    font-size: 1.8rem;
    font-family: 'helvetica-neue-regular';
    color: #484848;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    padding: 1.3rem 3.4rem;
    text-align: center;
    vertical-align: middle;
}

.table-price__container {
    display: flex;
    align-items: center;
}

.table-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.table-price h4{
    font-family: 'helvetica-neue-condensed-black';
    font-size: 1.9rem;
    color: var(--green-fly-color);
    margin-bottom: 0.5rem;
}

.table-price h5{
    font-family: 'helvetica-neue-light';
    font-size: 1rem;
}

.table-price h5 span{
    text-decoration: line-through;
}

.table__detail-departure .btn-buy-now{
    font-family: 'helvetica-neue-condensed-black';
    font-size: 1.3rem;
    color: var(--white-color);
    background-color: var(--green-fly-color);
    padding: 1rem;
    cursor: pointer;
}

.tour__route-head, .tour__policy-head {
    font-family: 'helvetica-neue-regular';
    font-size: 3rem;
    color: #333333;
    text-transform: uppercase;
    margin: 2.5rem 0 2rem 2.5rem;
}

.tour__route-list {
    padding: 0 6rem 3.5rem 7.2rem;
    overflow: hidden;
}

.tour__route-item {
    margin-top: 2.5rem;
    position: relative;
}
.tour__route-item::after{
    position: absolute;
    top: 0.5rem;
    left: -4rem;
    content: "";
    height: 2rem;
    width: 2rem;
    background-color: #abd145;
    border-radius: 50%;
}
.tour__route-item::before{
    position: absolute;
    top: 2rem;
    left: -3rem;
    content: "";
    height: 300%;
    width: 0.1rem;
    background-color: #9db8d3;
}

.tour__route-each-day-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    align-items: center;
}
.tour__route-item:not(:last-child) {
    border-bottom: 1px solid #a0bad4;
}

.tour__route-each-day{
    font-family: 'helvetica-neue-regular';
    font-size: 2rem;
}

.tour__route-each-day span{
    color: #00aeef;
    margin-right: 1rem;
}

.tour__route-icon {
    height: 3rem;
    width: 3rem;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 2rem;
}

.tour__route-icon i{
    color: #91a6f4;
    font-size: 1.5rem;
}




.tour__route-detail {
}

.tour__route-title {
    font-family: 'helvetica-neue-light';
    font-size: 1.6rem;
    color: #333333;
    margin-bottom: 1.5rem;
}

.tour__route-img-list {
    display: flex;
    justify-content: space-between;
}

.tour__route-img-item {

}

.tour__route-img-item img{
    width: 19.2rem;
    height: 14.3rem;
    border-radius: 7px;
}

.tour__route__content {
    font-family: 'helvetica-neue-light';
    font-size: 1.6rem;
    line-height: 2rem;
    color: #484848;
    margin: 2.5rem 0;
}



.tour__policy-list {
    padding-left: 2.7rem;
    padding-right: 3.8rem;
    padding-bottom: 2.5rem;
}

.tour__policy-item {
    margin-top: 2rem;
}

.tour__policy-title {
    font-family: 'helvetica-neue-regular';
    font-size: 2rem;
    color: #3abefb;
    margin-bottom: 1.5rem;
}

.tour__policy-content-list {
    padding-left: 1rem;
}

.tour__policy-content-item {
    display: flex;
}

.tour__policy-content-item i{
    font-size: 1.6rem;
    color: #b1d452;
    margin-right: 1.7rem;
}
.tour__policy-content-item .fa-times{
    color: #115294;
}

.tour__policy-content-item p{
    font-family: 'helvetica-neue-light';
    font-size: 1.6rem;
    line-height: 2rem;
    color: #333333;
}


/* suggest guide */

.suggest__guide {
    height: 34rem;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 4rem;
    margin-bottom: 6rem;
    position: relative;
    display: flex;
}

.suggest__guide-content {
    margin: auto;
    text-align: center;
    width: 58%;
}

.suggest__guide-content h5{
    font-family: 'Alegreya-Regular';
    font-size: 2.5rem;
    color: var(--white-color);
    margin-bottom: 1.5rem;
}

.suggest__guide-content h3{
    font-family: 'helvetica-neue-condensed-black';
    font-size: 4.8rem;
    line-height: 5rem;
    color: var(--white-color);
    margin-bottom: 1.5rem;
}

.suggest__guide-content h3 span{
    color: var(--green-fly-color);
}

.suggest__guide-content p{
    font-family: 'Alegreya-Regular';
    font-size: 1.7rem;
    line-height: 2rem;
    color: var(--white-color);
    margin-bottom: 3.3rem;
}

.link__find-more,
.link__find-more:hover {
    text-decoration: none;
}

.btn-tour-detail-more {

}   


.sticky-route {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    height: 4.8rem;
}
.sticky-price {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: #3abefb;
    left: 0;
}
.sticky-price .tour-price-content{
    padding-top: 0.5rem;
}