.wrapper {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1rem;
}
.wrapper-fluid {
    max-width: 100%;
    margin: 0 auto;
    background-color: var(--bg-light-color);
}

/* Header  */

.header {
    width: 100%;

}

.nav {

}

.nav--margin {
    margin-top: 1rem;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav__item {
    position: relative;
    
}

.nav__item:nth-child(2) {
    margin-left: 5rem;
}

.nav__link {
    color: var(--text-color);
   
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.5rem; 
}   

.nav__link-logo {
    position: relative;
    top: -0.3rem;
}

.nav__item:first-child::after {
    content: "";
    position: absolute;
    display: block;
    width: 0.1rem;
    height: 3.5rem;
    background-color: #eeeeee;
    top: 50%;
    right: -32px;
    transform: translateY(-50%);
}

.nav__link:hover {
    color: #25568e;
}

.nav__item-view-cart {
    border: 2px solid var(--primary-color);
    height: 3.7rem;
    width: 16rem;
    cursor: pointer;
    margin: auto;
    padding: 7px 10px 10px 10px;
}

.nav__item-text {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem; 
    color: var(--primary-color);
    height: 100%;
}

.nav__item-view-cart:hover {
    background-color: rgba(166 , 206, 57, 0.1);
}

.nav__item--flex {
    display: flex;
}

.nav__item-avatar {
    height: 52px;
    width: 52px;
    border: 3px solid #577ac6  /*var(--title-color); */;
    border-radius: 50%;
}

.nav__item-infor-account {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 2rem;
}

.nav__item-infor-name {
    font-size: 1.4rem;
    color: #839ec7  /*var(--title-color); */;
    font-weight: 700;
}

.nav__item-infor-logout {

}

.nav__item-infor-text {
    color: #839ec7  /*var(--title-color); */;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    margin-right: 2rem;
}

.nav__item-infor-text:first-child::after {
    content: "";
    position: absolute;
    display: block;
    width: 0.1rem;
    height: 1rem;
    background-color: #839ec7  /*var(--title-color); */;
    right: -1rem;
    top: 50%;
    transform: translateY(-50%);
}


/* TOP SALES */

.top__sale {
    /* background-image: url(../images/top_sales_bg_demo1.png); */
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 65rem;
    margin-top: 2.8rem;
    position: relative;
}
.top__sale::before {
    content: "";
    position: absolute;
    display: block;
    width: 80%;
    height: 0.1rem;
    background-color: rgba(255,255,255,0.2);
    right: 10%;
    top: 5.3rem;
}
/* 
.top__sale-background {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
} */
.top__sale-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 9% auto 3%;
}
.top__sale-title {
    
}
.top__sale-title div {
    font-size: 5rem;
    color: var(--white-color);
    line-height: 5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.top__sale-body {
    width: 100%;
    height: 100%;
    margin-top: 4rem;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
}

.top__sale-content {
    display: flex;
    justify-content: space-around;
    width: 85%;
}

.top__sale-number {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.top__sale-number::after {
    content: "";
    position: absolute;
    display: block;
    width: 0.1rem;
    height: 100%;
    background-color: var(--white-color);
    right: -10rem;
    top: 0%;
}

.top__sale-number-text {
    font-size: 3.6rem;
    color: var(--primary-color);
    font-weight: 700;
    margin-bottom: 3rem;
}
.top__sale-number-text.top__sale-number--active {
    font-size: 9.6rem;
    color: var(--white-color);
}

.top__sale-item-title {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 15rem;
}

.top__sale-item-header {
    font-size: 4.8rem;
    color: var(--white-color);
    font-weight: 700;
    line-height: 6rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.top__sale-item-content {
    font-size: 2.5rem;
    color: var(--white-color);
    font-weight: 400;
    line-height: 3rem;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
      overflow: hidden;
}

.top__sale-item-place {
    flex: 3.5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 6.5rem;
}

.top__sale-item-place-name {
    font-size: 2.5rem;
    color: var(--white-color);
    font-weight: 700;
    line-height: 3rem;

    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.top__sale-item-place-btn {
    border: 3px solid var(--primary-color);
    border-radius: 3px;
    cursor: pointer;
}

.top__sale-item-place-btn:hover {
    background-color: rgba(166 , 206, 57, 0.1);
}

.top__sale-item-place-text {
    font-size: 2.5rem;
    font-weight: 700;
    color: #b2d454;
    display: block;
    margin: 2.2rem auto;
    text-align: center;
    line-height: 2.5rem;
    
}

.top__sale-btn {
    display: flex;
    justify-content: flex-end;

}

.top__sale-icon {
    width: 3rem;
    margin-right: 2.2rem ;
    cursor: pointer;
}

.top__sale-icon-item {
    height: 4.6rem;
    transition: height 3;
}


/* Email subcribe */

.email-subcribe {
    height: 80rem;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
}

.email-subcribe__content {
    position: absolute;
    bottom: 14%;
    width: 33.85%;
}

.email-subcribe__content-title {
    font-size: 3.5rem;
    color: var(--white-color);
    font-family: 'Helvetica-Bold';
    line-height: 4.5rem;
}

.email-subcribe__content-input  {
    margin-top: 5rem;
    position: relative;
}


.email-subcribe__content-input input {
    width: 75%;
    height: 4rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--white-color);
}
.email-subcribe__content-input input[type="text"] {
    font-size:3rem;
    color: var(--white-color);
}
.email-subcribe__content-input input::placeholder {
    font-size: 3rem;
    line-height: 3rem;
    font-family: 'Alegreya-Regular';
    color: var(--white-color);
    }

.email-subcribe__content-arrow {
    position: absolute;
    background-color: var(--primary-color);
    height: 4.4rem;
    width: 4.4rem;
    border: 1px solid #d2311d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -40%;
    right: 25%;
    cursor: pointer;
}
.email-subcribe__content-arrow i {
    color: var(--white-color);
    font-size: 2rem;
}


/* Service Plus */

.service-plus {
    width: 134rem;
    margin: 12rem auto;
    display: flex;
    flex-direction: column;
}

.service-plus__head {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.service-plus__head-title {
    font-size: 5rem;
    line-height: 5rem;
    color: var(--title-color);
    font-weight: 700;
    margin-bottom: 3rem;
}

.service-plus__head-content {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: var(--text-color);
    font-weight: 400;
    text-align: center;
    margin-bottom: 0.5rem;
}

.service-plus__body {
    width: 100%;
    margin-top: 7rem;
}

.service-plus__list {
    display: flex;
    justify-content: space-between;
}

.service-plus__item {
    width: 42rem;
    flex-shrink: 0;
}

/* .service-plus__item:not(:nth-child(2)) {
    display: none;
} */



.service-plus__img {
    /* padding-top: 100%;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat; */

    height: 32rem;
}

.service-plus__body-with {
    color: var(--title-color);
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-family: 'helvetica-neue-light';
    text-transform: uppercase;
    margin-top: 3rem;
}

.service-plus__body-title {
    margin-top: 2rem;
    font-family: 'Helvetica-Bold';
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: var(--title-color);
}

.service-plus__body-price {
    margin-top: 3rem;
    font-family: 'helvetica-neue-regular';
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #000000;
}

.service-plus__body-price span {
    font-size: 1.8rem;
    color: var(--title-color);
}

.service-plus__body-vote {
   display: flex;
   justify-content: flex-start;
   margin-top: 2.2rem;
   align-items: center;
}

.service-plus-item__vote {
    font-size: 1.1rem;
    /* transform: scale(0.8);
    transform-origin: right; */
    color: rgb(173, 158, 158);
    margin-right: 1.5rem;
}
.service-plus-item__vote i {
    margin-right: 1rem;
}

.service-plus-star-voted {
    color: var(--primary-color);
}

.service-plus-item__rating {
    font-family: 'helvetica-neue-regular';
    font-size: 1.2rem;
    color: #656a57;
}


.service-plus__body-btn {
    margin-top: 3.7rem;
}

.service-plus__pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 7rem auto 0;
}

.service-plus__pagination::after {
    content: "";
    position: absolute;
    display: block;
    width: 90%;
    height: 0.2rem;
    background-color: #e1e1e1;
    right: 5%;
    z-index: 1;
}

.service-plus__pagination-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-plus__pagination-item-view {
    background-color: #fff;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    z-index: 2;
    margin: 0 0.6rem;
    cursor: pointer;
}

.service-plus__pagination-item-view.service-plus__pagination--active {
    background-color: var(--primary-color);
    height: 3rem;
    width: 3rem;
}
.service-plus__pagination-item{
    height: 6.6rem;
    width: 6.6rem;
    background-color: #ebebeb;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    border: none;
}



.service-plus__pagination-item-icon {
    font-size: 3.8em;
    color: #6684f2;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    right: 50%;
}

.service-plus__pagination-item__link-circle {

}



/* Footer  */

.footer-background {
    background-image: url(../images/footer_bg_homepage.png);
    height: 53rem;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;

}

.footer-content {
    display: flex;
    flex-direction: column;
    padding: 14rem 0 4rem 0;
}
.footer__top {
    display: flex;
    justify-content: space-between;
    
}

.footer__top-item {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.footer__top-icon {

}

.footer__top-icon-img {
    height: 2.7rem;
}

.footer__top-title {
    font-family: 'helvetica-neue-condensed-black';
    font-size: 2.7rem;
    color: #afd356;
    margin: 1.8rem 0;
}

.footer__top-detail {
    font-family: 'Alegreya-Regular';
    font-size: 2.1rem;
    line-height: 2.1rem;
    color: var(--white-color);
    margin: 0.5rem 0;
}

.footer_bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15rem;
    position: relative;
}

.footer_bottom::after {
    content: "";
    position: absolute;
    display: block;
    width: 80%;
    height: 0.1rem;
    background-color:#999999;
    right: 10%;
    bottom: 9rem;
}

.footer_bottom-list-icon {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_bottom-icon {
    margin: 0 1.1rem;
}   

.footer_bottom-link {

}

.footer_bottom-link-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.footer_bottom-copyright {
    text-align: center;
    font-family: 'Alegreya-Regular';
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: #f5f5f5;
    margin-top: 2.5rem;
}

.footer_bottom-copyright span {
    color: #afd356;
}


/* Tour Guide */

.tour__guide {
    margin: 2.2rem auto 5rem;
}

.guide__heading {
    display: flex;
    justify-content: space-between;
}

.guide__heading-title {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
}
.guide__heading-title h4 {
    font-family: 'Alegreya-Regular';
    font-size: 2.5rem;
    position: relative;
    color: #333333;    
}
.guide__heading-title h4::before {
    content : "";
    position: absolute;
    left    : 0;
    bottom  : -3px;
    height  : 1px;
    width   : 50%;  
    border-bottom:1px solid #333333;
}

.guide__heading-title h2 {
    font-family: 'helvetica-neue-condensed-black';
    font-size: 4.067rem;
    line-height: 5rem;
    color: #a4cd39;  
    margin-top: 1rem;
}

.guide__heading-title h2 span {
    color: #00aced;  
}

.guide__heading-banner {
    flex: 2;
    position: relative;
}

.guide__heading-btn--position {
    position: absolute;
    right: 8%;
    top: 65%;
}

.guide__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.7rem;
}

.guide__list__item {
    width: 37rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guide__list__img {
    height: 25.5rem;

}

.guide__list__name {
    margin-top: 2.4rem;
    font-family: 'helvetica-neue-regular';
    font-size: 2.2rem;
    color: #b1d45c;
    font-weight: 600;
}

.guide__list__feedback {
    margin-top: 1.6rem;
    font-family: 'Alegreya-Regular';
    font-size: 1.7rem;
    color: #b1d45c;
    font-weight:700;
}

.guide__list__feedback span {
    color: #333;
    font-weight: 400;
}

.guide__list__major {
    margin-top: 1rem;
    font-family: 'Alegreya-Regular';
    font-size: 1.7rem;
    color: #00aced;
    font-weight:400;
}

.guide__list-social {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 1.5rem;
}

.guide__list-social-icon {
    padding: 0 0.5rem;

}

.guide__list-social-icon__link {
    text-decoration: none;
    color: var(--title-color);
    font-size: 1.5rem;
}
.guide__list-social-icon__link.guide__list-social-icon__link-color {
    color: #00aced;
}

.guide__list-btn {
    margin-top: 0.7rem;
}

.guide__standard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9rem;
}

.guide__standard__item {
    display: flex;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    flex: 1;
    align-items: center;
}
.guide__standard__item:first-child{
    padding-right: 0;
}
x
.guide__standard__item:last-child {
    padding-left    : 0;
}

.guide__standard__item-img {
    height: 10.2rem;
    width: 10.2rem;
    border-radius: 50%;
    background-color: #e3ebef;
    display: flex;
    justify-content: center;
    align-items: center;
}
.guide__standard__item-content {
    flex: 3;
    margin-left: 3.5rem;
}

.guide__standard__item-title {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--title-color);
    margin-bottom: 2rem;
}

.guide__standard__item-text {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 400;
    color: #7d7d7d;
}

.guide__standard__item-img-bg-green {
    background-color: var(--primary-color);
}

/* Form Search  */

.form-search {
    height: 36rem;
    width: 100%;
    background-color: var(--bg-blue-color);
}

.form-search-all {
    padding-top: 5rem;
}

.search__container-fly {
   
    height: 13.2rem;
    background-color: var(--white-color);
    border-radius: 7px;
    border: 3px solid #1fb0e7;
    box-shadow: 10px 10px 5px  rgba(25, 57, 80, 0.5);
  
}

.search__container-fly__list {
    display: flex;
    margin-top: 1rem;
    justify-content: flex-start;
}

.search__container-fly__item {
    position: relative;
    font-family: 'Alegreya-Regular';
    font-size: 1.5rem;
    color: #0382b3;
    font-weight: 600;
    margin-left: 3rem;
    cursor: pointer;
}


.search__container-fly__type-ticket-lable {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    position: relative;
}

.search__container-option-ticket-list {
    position: absolute;
    background-color: #fff;
    border: 1px solid #eeeeee;
    z-index: 1;
    height: auto;
    width: 120%;
    top: 120%;
    border-radius: 2px;
    box-shadow: 0px 0px 10px rgb(117, 117, 115, 0.5);
    display: none;
}

.search__container-option-ticket-item {
    padding: 10px 5px 10px 25px;
}
.search__container-option-ticket-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.search__container-option-ticket-item i {
    float: right;
    display: none;
}

.search__container-option-ticket-item.active i{
    display: inline-block;
}


.search__container-option-class-list {
    position: absolute;
    background-color: #fff;
    border: 1px solid #eeeeee;
    z-index: 1;
    height: auto;
    width: 120%;
    top: 120%;
    border-radius: 2px;
    box-shadow: 0px 0px 10px rgb(117, 117, 115, 0.5);
    display: none;
}

.search__container-option-class-item {
    padding: 10px 5px 10px 25px;
}
.search__container-option-class-item i{
    float: right;
    display: none;
}
.search__container-option-class-item.active i{
    display: inline-block;
}

.search__container-option-class-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}


.search__container-fly__class-ticket-lable-item {

}



.search__box {
    margin-left: 12px;
    margin-top: 11px;
    height: 7.2rem;
    width: 98%;
    border: 1px solid #c8edfb;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
}

.search__box .title {
    font-family: 'Alegreya-Regular';
    font-size: 1.2rem;
    color: #0382b3;
    font-weight: 600;
    padding-top: 10px;
}

.search__box .content {
    font-family: 'Alegreya-Regular';
    font-size: 1.5rem;
    color: #0382b3;
    font-weight: 600;
}

.destination-from,
.destination-to,
.time-depature,
.time-comeback {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
    
}

.destination-from .content,
.destination-to .content,
.time-depature .content,
.time-comeback .content{
    cursor: pointer;
}



.destination-from {
    flex: 5;
}

.destination-to {
    flex: 5;
}

.time-depature {
    flex: 2;
    position: relative;
}

.time-depature::after {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: 100%;
    background-color: #cbd6e1;
    top: 50%;
    left: -23px;
    transform: translateY(-50%);
}

.time-comeback {
    flex: 2;
}

.action__search-icon {
    background-color: var(--primary-color);
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -12px;
    cursor: pointer;
    flex: 1;
}

.action__search-icon:hover {
    background-color:rgba(169, 216, 39, 0.8);
}

.action__search-icon i {
    font-size: 4.8rem;
    color: var(--white-color);
}


.turn__des-icon {
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid #7fcdf0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30%;
    right: 68%;
}


.search__type {
    margin-top: 2.6rem;
}


.search__type__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.search__type__list::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 0.3rem;
    background-color: rgba(255,255,255,0.5);
    right: 0;
    top: 26%;
    transform: translateY(50%);
    z-index: 1;
}

.search__type__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 6rem 0;
}

.search__type__item-icon {
    height: 5rem;
    width: 5rem;
    background-color: var(--bg-blue-color);
    border-radius: 50%;
    border: 3px solid  rgba(255,255 ,255,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
    cursor: pointer;
}

.search__type__item-icon::after {
    content: "";
    position: absolute;
    display: block;
    width: 250%;
    height: 10rem;
    right: -76%;
    bottom: 0;
    transform: translateY(50%);
}

.search__type__item-icon i {
    font-size: 3rem;
    color: var(--white-color);
}

.search__type__item-name {
    margin-top: 2.3rem;
    font-family: 'Alegreya-Regular';
    font-size: 1.3rem;
    color: var(--white-color);
    font-weight: 600;
}

.search__type__item--active .search__type__item-icon {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.search__type__item--active .search__type__item-name{
    color: var(--primary-color);

}

/* search destination */

.destination__container {
    position: absolute;
    top: 100%;
    background-color: var(--white-color);
    width: 70%;
    left: -1px;
    z-index: 3;
    border: 1px solid #e4e4e4;
    display: none;
}

.destination__search-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.destination__search-bar input {
    width: 100%;
    font-size: 1.2rem;
    outline: none;
    border: none;
    padding: 10px 10px 10px 15px;

}
.destination__search-bar i {
    font-size: 1.5rem;
    color: #6c757d;
    padding-left: 15px;
}
.des__wrapper {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e4e4e4;
}

.destination__list {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #e4e4e4;
    cursor: pointer;
    position: relative;
}   
 

.des_country {
    border-bottom: 1px solid #e4e4e4;
    width: 100%;
    position: relative;
}

.des_country--active::after{
    content: ' ';
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    position: absolute;
    right: -5px;
    top: 14px;
    background-color: #2f6eb7;
}  
.des_country.des_country--active {
    background-color: #2f6eb7;
    color: var(--white-color);
}   
.des_country.active .des_country-name{
    color: var(--white-color);
}   

.des_country-name {
    display: block;
    padding: 13px 20px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #393939;
    font-weight: 700;
}

.destination__content {
    flex: 8;
    margin: 0 10px;
}

.des__tab-panel {
    display: none;
}
.des__tab-panel--active {
    display: block;
}
.des_item-section {
    display: flex;
    flex-direction: column;

}

.des__suggestion__label {
    display: block;
    padding: 5px 10px;
    background-color: #f2f2f4;
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.des__suggestion__cities {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 0.5rem;
}

.des__suggestion__city {
    font-size: 1.2rem;
    display: block;
    padding: 5px 10px;
    color: #393939;
    width: 25%;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}
.des__suggestion__city:hover {
    color: #fff;
    background-color: #2f6eb7;
}

.airport__result__wrapper {
    display: none;
}

.scrollbar-container {

}

.airport__result {

}

.airport__result__items {
    margin: 0;
}

.airport__result__item {
    cursor: pointer;
}
.airport__result__item:nth-child(2n + 1)  {
    background-color: #eaf5ff;
}

.airport__result__item--no-result {
    padding: 10px 15px;
    cursor: text;
    font-size: 1.2rem;
}

.airport__result__link {
    position: relative;
    display: block;
    padding: 7px 15px 7px 45px;
    color: #393939;
    font-size: 1.2rem;
}

.airport__result__icon {
    position: absolute;
    top: 3px;
    left: 15px;
    font-size: 1.5rem;
    color: #007bff;
    margin-top: 10px;
}

.airport__result__code {
    color: #6c757d;
    margin-right: 5px;
}
.airport__result__code::after {
    content: '-';
    margin-left: 5px;
}

.airport__result__name {

}   

.airport__result__description {
    display: block;
    color: #6c757d;
    font-size: 0.85rem;
    margin-top: 0.5rem;
}




/* Deal Attraction */

.deal__container {
    margin-top: 11rem;
}

.deal__head {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* height: 300px; */
}

.deal__head-title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.deal__head-title h3 {
    font-size: 5rem;
    font-weight: 700;
    color: var(--title-color);
    margin-bottom: 2.4rem;
}

.deal__head-title span {
    display: block;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    color: #333;
}
.deal__head-title img {
    margin-top: 1.4rem;
}

.deal__head-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin-top: 3.2rem;
}

.deal__head-nav-item {
    font-size: 1.5rem;
    line-height: 6rem;
    font-weight: 700;
    color: #333333;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
}
.deal__head-nav-item::after {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: 100%;
    background-color: #eeeeee;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}

.deal__head-nav-item:first-child.deal__head-nav-item::after{
    display: none;
}

.deal__head-nav-item:first-child {
    color: var(--primary-color);
    position: relative;
}
.deal__head-nav-item:first-child::before {
    content: "";
    position: absolute;
    top: 70%;
    height: 1px;
    width: 48%;
    border-bottom: 1px solid #bfdb7d;
}

.deal__head-nav-item:first-child:hover {
    background-color: transparent;
}
.deal__head-nav-item:first-child:active {
    color: rgba(116, 151, 21, 0.8);
}

.deal__head-nav-item:hover {
    background-color: rgba(166 , 206, 57, 0.1)
}
.deal__head-nav-item.active {
    color: var(--white-color);
    background-color: var(--primary-color);
}

/* FLASH SALE  */

.flash__sale {
    /* display: flex;
    flex-direction: column; */
    margin-top: 4.6rem ;
}

.flash__sale-countdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flash__sale-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    width: 100%;
}
.flash__sale-title h4 {
    font-size: 2.8rem;
    color: var(--secondary-color);
    text-decoration: underline;
    font-weight: 400;
}
.flash__sale-title h3 {
    margin-top: 2.3rem;
    font-size: 5.2rem;
    color: var(--primary-color);
    font-weight: 700;
}
.flash__sale-time {
    flex: 1;
    width: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flash__sale-time-title {
    font-size: 2.4rem;
    color: var(--secondary-color);
    font-weight: 700;
    display: block;

}

.flash__sale-time__list {
    display: flex;
    justify-content: space-around;
    margin-top: 4.5rem;
    width: 100%;
}

.flash__sale-time-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time__number {
    font-size: 4.2rem;
    color: var(--primary-color);
    font-weight: 400;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    border: 3px solid #99def8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.4rem;
}

.time__name {
    font-size: 2.4rem;
    color: var(--secondary-color);
    font-weight: 700;
}

.flash__sale-view {
    background-image: url(../images/bg_flashsale_demo.png);
    height: 72.6rem;
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* -webkit-background-size: cover;
    background-position: center center */
    position: relative;
    margin-top: 2.7rem;
}


.flash__sale-view-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 22%;
}

.view-direction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view-direction-item {
    height: 5.8rem;
    width: 5.8rem;
    border: 2px solid var(--white-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16.5rem;
}

.view-direction-item:first-child {
    margin-bottom: 1.4rem;
}

.view-direction-item i {
    font-size: 2.2rem;
    color: var(--white-color);
}

.flash__sale-view-option {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flash__sale-view-option h4{
    font-size: 1.8rem;
    font-family: 'Alegreya-Regular';
    color: var(--white-color);
    font-weight: 700;
   
}

.flash__sale-type-service {
    border: 2px solid rgba(255,255 ,255,0.6);
    height: 3.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin-top: 6px;
    padding: 0 8px;
}

.flash__sale-type-service span {
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 500;
    padding: 0 20px 0 7px;
}

.flash__sale-type-service i:first-child {
    font-size: 1.8rem;
    color: var(--white-color);
    
}
.flash__sale-type-service i:last-child {
    font-size: 1.5rem;
    color: var(--white-color);
}

.flash__sale-view-list {
    display: flex;
    justify-content: flex-end;
    
}

.flash__sale-view-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
}

.flash__sale-view__link {
    text-decoration: none;
}


.flash__sale-view__container {
    background-color: var(--white-color);
    width: 40.8rem;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
}
.flash__sale-view__container:hover {
    /* box-sizing: content-box; */
    transform: translateY(-5px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.4);
    border: 1px solid var( --primary-color);
}
.flash__sale-view__container:hover .flash__sale-view__price::after {
    background-color: var(--primary-color);
}


.flash__sale-view-img {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQTbNjds2ISldVi7owHKDNTtuKLYbahQiUUQw&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    height: 23.5rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.flash__sale-view-name {
    font-size: 2rem;
    line-height: 2.5rem;
    color: #107aa1;
    font-weight: 700;
    text-align: center;
    margin-top: 2.7rem;
}

.flash__sale-view-subname {
    font-size: 1.3rem;
    color: #000000;
    font-weight: 400;
    text-align: center;
    margin-top: 1.6rem;
}

.flash__sale-view__number {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    position: relative;
}
.flash__sale-view__number::after {
    content: "";
    position: absolute;
    display: block;
    width: 75%;
    border-bottom: 1px dashed var(--primary-color);
    bottom: -24px;
}

.flash__sale-view-date {

}
.flash__sale-view-date i{
    font-size: 1.8rem;
    color: var(--primary-color);
}
.flash__sale-view-date span{
    font-size: 1.5rem;
    color: #000000;
}

.flash__sale-view-amount {
    
}
.flash__sale-view-amount i{
    font-size: 1.8rem;
    color: var(--primary-color);
}
.flash__sale-view-amount span{
    font-size: 1.5rem;
    color: #000000;
}

.flash__sale-view__vote {
    font-size: 1.5rem;
    color: rgb(173, 158, 158);
    margin-right: 1.5rem;
}

.star-voted {
    color: var(--primary-color);
}

.flash__sale-view__price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4.8rem;
    padding-bottom: 4.4rem;
    position: relative;
}

.flash__sale-view__price::after {
    content: "";
    position: absolute;
    display: block;
    width: 90%;
    height: 10px;
    bottom: 0;
    background-color: #dbebb0;
}


.flash__sale-view__price-sale {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}
.flash__sale-view__price-sale span:first-child {
    font-size: 1.3rem;
    padding-left: 5px;
}

.flash__sale-view__price-number {
    display: flex;
}

.flash__sale-view__price-number h5 {
    font-size: 4.2rem;
    color: var(--primary-color);
    margin-right: 8px;
}
.flash__sale-view__price-number p {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5rem;
    color: var(--primary-color);
}
.flash__sale-view__price-number p span:first-child {
    margin-bottom: 2px;
}

.flash__sale-view__price-origin {
    font-size: 1.6rem;
    color: var(--secondary-color);
    font-weight: 600;
    text-decoration: line-through;
    padding-top: 20px;
}

.label__sale__off {
    position: absolute;
    top: 17px;
    left: -30px;
    height: 2.2rem;
    width: 10rem;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-50deg);
}

.label__sale__off__number {
    font-size: 1rem;
    color: var(--white-color);
    font-weight: 700;
    
}

.flash__sale-btn {
    margin-top: 5.4rem;
}

