/* .wrapper {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1rem;
}
.wrapper-fluid {
    max-width: 100%;
    margin: 0 auto;
    background-color: var(--bg-light-color);
} */

/* TOP SALES */

.top__sale {
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 54rem;
    position: relative;
}
.top__sale::before {
    content: "";
    position: absolute;
    display: none;
    width: 80%;
    height: 0.1rem;
    background-color: rgba(255,255,255,0.2);
    right: 10%;
    top: 5.3rem;
}
/* 
.top__sale-background {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
} */
.top__sale-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 9% auto 3%;
}
.top__sale-title {
    
}
.top__sale-title h1 {
    font-size: 5rem;
    color: var(--white-color);
    line-height: 5.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    width: 70%;
}

.top__sale-body {
    width: 100%;
    height: 100%;
    margin-top: 4rem;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
}

.top__sale-content {
    display: flex;
    justify-content: space-around;
    width: 85%;
}

.top__sale-number {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.top__sale-number::after {
    content: "";
    position: absolute;
    display: block;
    width: 0.1rem;
    height: 100%;
    background-color: var(--white-color);
    right: -10rem;
    top: 0%;
}

.top__sale-number-text {
    font-size: 3.6rem;
    color: var(--primary-color);
    font-weight: 700;
    margin-bottom: 3rem;
}
.top__sale-number-text.top__sale-number--active {
    font-size: 9.6rem;
    color: var(--white-color);
}

.top__sale-item-title {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 15rem;
}

.top__sale-item-header {
    font-size: 4.8rem;
    color: var(--white-color);
    font-weight: 700;
    line-height: 6rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.top__sale-item-content {
    font-size: 2.5rem;
    color: var(--white-color);
    font-weight: 400;
    line-height: 3rem;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
      overflow: hidden;
}

.top__sale-item-place {
    flex: 3.5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 6.5rem;
}

.top__sale-item-place-name {
    font-size: 2.5rem;
    color: var(--white-color);
    font-weight: 700;
    line-height: 3rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.top__sale-item-place-btn {
    background-color: var(--primary-color);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.top__sale-item-place-text {
    padding-top: 0;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--white-color);
    padding: 2.7rem 3.4rem;
    display: block;
    margin-bottom: 5px;
}

.top__sale-btn {
    display: flex;
    justify-content: flex-end;

}

.top__sale-icon {
    width: 3rem;
    margin-right: 2.2rem ;
    cursor: pointer;
}

.top__sale-icon-item {
    height: 4.6rem;
    transition: height 3;
}


/* Email subcribe */

.email-subcribe {
    height: 56rem;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
}

.email-subcribe__content {
    position: absolute;
    bottom: 8%;
    left: 19%;
    display: flex;
    justify-content: flex-start;
}

.email-subcribe__content-title {
    font-size: 3.5rem;
    color: var(--white-color);
    font-family: 'Helvetica-Bold';
    line-height: 4.5rem;
    width: 42%;
}

.email-subcribe__content-input  {
    margin-top: 2rem;
    position: relative;
    margin-left: 5rem; 
}


.email-subcribe__content-input input {
    width: 120%;
    height: 4rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--white-color);
}
.email-subcribe__content-input input[type="text"] {
    font-size:3rem;
    color: var(--white-color);
}
.email-subcribe__content-input input::placeholder {
    font-size: 3rem;
    line-height: 3rem;
    font-family: 'Alegreya-Regular';
    color: var(--white-color);
}

.email-subcribe__content-arrow {
    position: absolute;
    background-color: var(--primary-color);
    height: 4.4rem;
    width: 4.4rem;
    border: 1px solid #d2311d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -14%;
    right: -20%;
    cursor: pointer;
}
.email-subcribe__content-arrow i {
    color: var(--white-color);
    font-size: 2rem;
}


/* Service Plus */

.service-plus {
    max-width: 134rem;
    margin: 12rem auto;
    display: flex;
    flex-direction: column;
}

.service-plus__head {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.service-plus__head-title {
    font-size: 5rem;
    line-height: 5rem;
    color: var(--title-color);
    font-weight: 700;
    margin-bottom: 3rem;
}

.service-plus__head-content {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: var(--text-color);
    font-weight: 400;
    text-align: center;
    margin-bottom: 0.5rem;
}

.service-plus__body {
    width: 100%;
    margin-top: 7rem;
}

.service-plus__list {
    display: flex;
    justify-content: space-between;
}

.service-plus__item {
    width: 42rem;
}

.service-plus__item:not(:nth-child(-n+3)) {
    display: none;
}



.service-plus__img {
    /* padding-top: 100%;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat; */

    height: 32rem;
}

.service-plus__body-with {
    color: var(--title-color);
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-family: 'helvetica-neue-light';
    text-transform: uppercase;
    margin-top: 3rem;
}

.service-plus__body-title {
    margin-top: 2rem;
    font-family: 'Helvetica-Bold';
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: var(--title-color);
}

.service-plus__body-price {
    margin-top: 3rem;
    font-family: 'helvetica-neue-regular';
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #000000;
}

.service-plus__body-price span {
    font-size: 1.8rem;
    color: var(--title-color);
}

.service-plus__body-vote {
   display: flex;
   justify-content: flex-start;
   margin-top: 2.2rem;
   align-items: center;
}

.service-plus-item__vote {
    font-size: 1.1rem;
    /* transform: scale(0.8);
    transform-origin: right; */
    color: rgb(173, 158, 158);
    margin-right: 1.5rem;
}
.service-plus-item__vote i {
    margin-right: 1rem;
}

.service-plus-star-voted {
    color: var(--primary-color);
}

.service-plus-item__rating {
    font-family: 'helvetica-neue-regular';
    font-size: 1.2rem;
    color: #656a57;
}


.service-plus__body-btn {
    margin-top: 3.7rem;
}

.service-plus__pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 7rem auto 0;
}

.service-plus__pagination::after {
    content: "";
    position: absolute;
    display: block;
    width: 90%;
    height: 2.2rem;
    background-color: #fcfcfc;
    right: 5%;
    z-index: 1;
    background-image: linear-gradient(#fdfdfd, #fbfbfb);
}

.service-plus__pagination-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-plus__pagination-item-view {
    background-color: #fff;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    border: 7px solid var(--primary-color);
    z-index: 2;
    margin: 0 0.6rem;
    cursor: pointer;
}

.service-plus__pagination-item-view.service-plus__pagination--active {
    background-color: var(--primary-color);
    height: 3rem;
    width: 3rem;
}
.service-plus__pagination-item{
    height: 6.6rem;
    width: 6.6rem;
    background-color: #ebebeb;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    border: none;
    z-index: 2;
}



.service-plus__pagination-item-icon {
    font-size: 3.8em;
    color: #6684f2;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    right: 50%;
}

.service-plus__pagination-item__link-circle {

}

/* Deal Attraction */

.deal__container {
    margin-top: 11rem;
}

.deal__head {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* height: 300px; */
}

.deal__head-title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.deal__head-title h3 {
    font-size: 5rem;
    font-weight: 700;
    color: var(--title-color);
    margin-bottom: 2.4rem;
}

.deal__head-title span {
    display: block;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    color: #333;
}
.deal__head-title img {
    margin-top: 1.4rem;
}

.deal__head-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin-top: 3.2rem;
}

.deal__head-nav-item {
    font-size: 1.5rem;
    line-height: 6rem;
    font-weight: 700;
    color: #333333;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
}
.deal__head-nav-item::after {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: 100%;
    background-color: #eeeeee;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}

.deal__head-nav-item:first-child.deal__head-nav-item::after{
    display: none;
}

.deal__head-nav-item:first-child {
    color: var(--primary-color);
    position: relative;
}
.deal__head-nav-item:first-child::before {
    content: "";
    position: absolute;
    top: 70%;
    height: 1px;
    width: 48%;
    border-bottom: 1px solid #bfdb7d;
}

.deal__head-nav-item:first-child:hover {
    background-color: transparent;
}
.deal__head-nav-item:first-child:active {
    color: rgba(116, 151, 21, 0.8);
}

.deal__head-nav-item:hover {
    background-color: rgba(166 , 206, 57, 0.1)
}
.deal__head-nav-item.active {
    color: var(--white-color);
    background-color: var(--primary-color);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);   
}


.deal__attraction {
    display: flex;
    justify-content: center;
    padding: 13rem 0 ;
    position: relative;
}

.deal__attraction-item {
    height: 63rem;
    width: 101.0rem;
    position: relative;
}
.deal__attraction-img {
    height: 52rem;
    width: 100%;
    padding-top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border: 10px solid rgba(0,0,0,0.5);
}


.deal__attraction-img::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}


.float-content {

}

.float-content__left {
    position: absolute;
    top: 0;
}

.float-content__left__head {
    display: flex;
    font-size: 1.8rem;
    color: var(--white-color);
    align-items: center;
    margin-top: 7rem;
    margin-left: 7rem;
}
.float-content-view-date {
    margin-right: 1.8rem;
}
.float-content-view-amount {
    margin-right: 3rem;
}
.float-content-view__vote {
    color: #b6bca2;
}
.float-content-view__vote .voted{
    color: var(--white-color);
}



.float-content__left__content {
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    font-weight: 700;
    margin-top: 25rem;
    margin-left: 7.5rem;
}

.float-content__left-des {
    display: flex;
    font-size: 2.8rem;
    align-items: center;
    text-transform: uppercase;
}

.float-content__left-direction {
    display: flex;
    flex-direction: column;
    padding: 0 1.8rem;
    font-size: 1.8rem;
}
.float-content__left-direction i{
    color: #00ffff;
}

.float-content__price {
    font-size: 2.5rem;
    margin-top: 3.7rem;
}

.float-content__note {
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 2.5rem;
}

.float-content-btn {
    margin-top: 6.4rem;
    margin-left: 0.5rem;
}

.float-content__right {
    position: absolute;
    bottom: 25px;
    right: 4.5rem;
    border-right: 5px solid rgba(255,255,255,0.5);
}

.feature__list {
    border: 1px solid #e8ecef;
    width: 9rem;
    background-color: var(--white-color);
}

.feature__item {
    color: #999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    position: relative;
    padding-top: 0.8rem;
}

.feature__item:first-child::before {
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    height: 50%;
    background-color: #f5ad00;
    top: 0;
    right: -6px;
}

.feature__item::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #dfdfdf;
    top: -15%;
    left: 0px;
}
.feature__item:last-child::after {
    background-color: transparent;
}
.feature__item:first-child::after {
    background-color: transparent;
}
.feature__item:last-child {
    padding-top: 1rem;
}

.feature__item:last-child .feature-total-price,
.feature__item:last-child .feature-text{
    color: var(--white-color);
    z-index: 1;
    padding-bottom: 4px;
}
.feature__item:last-child .feature-text{
   font-size: 1rem;
}
.feature__item:last-child::before {
    content: "";
    position: absolute;
    display: block;
    width: 105%;
    height: 172%;
    background-color: #0073b7;
    top: -25%;
    left: 0px
}
.feature-icon {
    font-size: 3rem;
    margin-bottom: 0.8rem;
}

.feature-text {
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    padding: 0 4px;
}

.feature-total-price {
    font-size: 1.8rem;
    font-weight: 700;
}

.deal__attraction-img-change {
    position: absolute;
    height: 42rem;
    width: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(-63%);
    cursor: pointer;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.8) inset; */
    border: 10px solid rgba(0,0,0,0.5);
    transition: width 0.5s;
 
}
.deal__attraction-img__left {
    top: 50%;
    left: 0%;
}
.deal__attraction-img__icon-box  {
    display: none;
    height: 4rem;
    width: 4rem;
    background-color: #ebebeb;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    border: none;
    z-index: 13;
}
.deal__attraction-img__icon {
    font-size: 2.8em;
    color: #6684f2;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    right: 50%;
}

.deal__attraction-img__right {
    top: 50%;
    right: 0%;
}
.deal__attraction-img-change:hover {
    /* z-index: 1; */
    width: 60%;
    /* height:  50rem; */
}

.deal__attraction-img__right:hover {

}

