
.change-search-icon i {
    color: var(--bg-blue-guest);
}


.tour__passenger-detail-list {
    font-family: 'helvetica-neue-medium';
    color: var(--secondary-tour);
    font-size: 2.2rem;
    display: grid;
    grid-template-columns: auto auto;
    line-height: 2.7rem;
}
.tour__passenger-detail-item {
    margin-bottom: 1rem;
}

.result__view-detail-item-pd h3 {
    font-family: 'helvetica-neue-regular';
    font-size: 2.4rem;
    margin-bottom: 3rem;
    line-height: 3rem;
}

.result__view-detail-item-pd h3 span{ 
    color: var(--green-fly-color);
}

.detail-group-pt {
    width: 100%;
    flex-direction: row;
    display: flex;
    background-color: var(--white-color);
}

.detail-pt-infor {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    border-right: 1px solid var(--border-color);
    width: 70%;
}

.detail-pt-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.detail-pt-price h4{
    font-family: 'helvetica-neue-regular';
    font-size: 3.2rem;
    margin-bottom: 1rem;
}
.detail-pt-price h5{
    font-size: 3rem;
    font-family: 'helvetica-neue-condensed-black';
    color: var(--bg-blue-guest);
}

.guest__information-contact {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 3rem;
}

.guest__information-contact-item {
    margin-bottom: 2rem;
}
.guest__information-contact-item h5{
    font-family: 'helvetica-neue-medium';
    font-size: 1.6rem;
    color: var(--blue-fly-color);
    margin-bottom: 0.7rem;
}
.guest__information-contact-item input{
    border: 2px solid #edf2f6;
    border-radius: 2px;
    height: 80%;
    font-family: 'Alegreya-Regular';
    font-size: 2.5rem;
    padding-left: 2rem;
    width: 90%;
}
.guest__information-contact-item input::placeholder{
    font-size: 1.7rem;
    color: #bbbbd8;
}
.guest__information-contact-item.box-bill {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.guest__information-contact-item .export-bill {
    width: 2rem;
    margin-right: 2rem;
}

.guest__information-contact-item select {
    width: 90%;
    height: 80%;
    font-family: 'Alegreya-Regular';
    font-size: 2.2rem;
    border: 2px solid #edf2f6;
}
.guest__information-contact-item option {

}

.guest__summary-list {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
}

.guest__summary-box {
    border: 1px solid var(--border-color);
    display: inline-block;
    font-family: 'Alegreya-Regular';
    font-size: 2.5rem;
    border-radius: 2px;
}

.guest__summary-box span{
    font-size: 2rem;
    display: inline-block;
    padding: 1rem 0.5rem;
    background-color: #f1f1f1;
}
.guest__summary-box select{ 
    height: 3.9rem;
    width: 9rem;
    border: none;
    font-size: 2rem;
}

.guest__summary-box option{ 
    font-size: 2rem;
    padding: 1rem;
    border-radius: 4px;
}

.tour__detail-head-text, .tour__information-head-text {
    font-family: 'helvetica-neue-medium';
    font-size: 2.4rem;
    color: var(--white-color);
}

.guest__information-head-tour {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-blue-guest);
    border-radius: 3px;
    padding: 1.2rem 2rem;
    align-items: center;
}