:root {
    --bg-blue-guest: #31a9e1
}
.wrapper-fluid-bg-color {
    background-color: #edf2f6;
}

.change-search__head {
    background-color: var(--bg-blue-guest);
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0 4.2rem;
    margin-top: 3.2rem;
}

.change-search__departure ,.change-search__return{
    display: flex;
    align-items: center;
}

.change-search-icon {
    height: 4.4rem;
    width: 4.4rem;
    border-radius: 50%;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.change-search-icon i{
    font-size: 2.1rem;
    color: #404057;
}

.change-search-content {
    display: flex;
    flex-direction: column;
}

.change-search-content h3{
    font-size: 2.4rem;
    font-family: 'helvetica-neue-medium';
    color: var(--white-color);
    margin-bottom: 0.7rem;
}

.change-search-content h4{
    font-family: 'helvetica-neue-regular';
    font-size: 2rem;
    color: var(--white-color);
}

.change-search-link {
    text-decoration: none;
}

.change-search-btn {
    color:var(--blue-fly-color);
    font-size: 2.2rem;
    font-family: 'helvetica-neue-condensed-black';
    background-color: var(--white-color);
    padding: 1.2rem 1.3rem;
    border-radius: 3px;
}

.flight__detail {
    margin-top: 3.3rem;
}


.flight__detail-head {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-blue-guest);
    border-radius: 3px;
    padding: 1.2rem 2rem;
    align-items: center;

}
.flight__detail-head-text {
    font-family: 'helvetica-neue-medium';
    font-size: 2.4rem;
    color: var(--white-color);
}

.progress-bar-list {
    display: flex;
}

.progress-bar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white-color);
    margin-left: 5rem;
    position: relative;
}

.progress-bar-item.done {
    color: var(--blue-fly-color);
}

.progress-bar-item.done .progress-bar-icon {
    background-color: var(--blue-fly-color);
    border-color: var(--blue-fly-color);
}
.progress-bar-item.done i {
    color: var(--white-color);
}

.progress-bar-item.progress {
    color: var(--blue-fly-color);
}

.progress-bar-item.progress .progress-bar-icon{
    background-color: var(--white-color);
    border-color: var(--blue-fly-color);
}



.progress-bar-item::after {
    content: "";
    position: absolute;
    width: 220%;
    height: 2px;
    background-color: var(--white-color);
    top: 68%;
    left: 67%;
    z-index: 1;
}

.progress-bar-item:last-child::after {
  
    background-color: transparent;
}
.progress-bar-item:first-child::after {
    background-color: var(--blue-fly-color);
}
  
.progress-bar-list.infor-guest .progress-bar-item:nth-child(2)::after {
    background-color: var(--blue-fly-color);
}

.progress-bar-title {
    font-family: 'Alegreya-Regular';
    font-size: 1.05rem;
    font-weight: 600;
    margin-bottom: 6px;
}


.progress-bar-icon {
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    border: 1px solid var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: var(--bg-blue-guest);
    font-size: 1.4rem;
    font-family: 'helvetica-neue-medium';
}

.progress-bar-icon i{

}


.detail-return-departure {
    display: flex;
    justify-content: space-between;
}

.detail-group {
   display: flex;
   flex-direction: column;
   width: 73%;
  
}

.detail-departure, .detail-arrival {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
}

.detail-arrival {
    margin-top: 6px;
}

.summary-bill {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-color);
    width: 26%;
    height: 100%;
}

.bill__content-pd {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bill-fly__container-pd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 2.2rem;
}

.bill-fly-luggage-pd {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #26b4f0;
    margin-top: 1.5rem;
    font-size: 1.4rem;
    font-family: 'Alegreya-Regular';
    color: var(--white-color);
}
.bill-fly-luggage-pd span{
    font-weight: 600;
}

.bill-fly__departure-pd, .bill-fly__return-pd {
    margin-right: 0;
    display: flex;
    flex-direction: column;
}

.bill__head-pd {
    font-size: 2.1rem;
    margin-top: 2.7rem;
    text-align: center;
    font-family: 'helvetica-neue-condensed-black';
    color: var(--blue-fly-color);
    margin-bottom: 3rem;
}

.bill-fly-title--left {
    left: 3rem;
}

.bill-fly__sub-pd {
    color: #b4b4c8;
    line-height: 1.6rem;
}

.bill-fly__sub-pd h5 {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: 'helvetica-neue-light';
}
.bill-fly__sub-pd span {
    font-weight: 700;
}



.bill-fly-service-add {
    background-color: #26b4f0;
    margin-top: 5px;
    color: var(--white-color);
    padding: 1rem; 
}

.bill-fly-service-add__head {
    display: flex;
    justify-content: space-between;
}

.bill-fly-service-add-text {
    display: flex;
    font-family: 'Alegreya-Bold';
    font-size: 1.38rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.bill-fly-service-add-icon {
    padding-left: 0.6rem;
    font-size: 1.4rem;
   
}
.bill-fly-service-add-icon .fa-sort-up{
    display: none;
}

.bill-fly-service-add-price {
    font-family: 'Alegreya-ExtraBold';
    font-size: 1.3rem;
}

.bill-fly-service-add__content {
    font-family: 'Alegreya-Regular';
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    display: none;
}

.bill-fly-service-add__item {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    line-height: 1.4rem;
}

.bill-fly-total__title::after {
    left: -14px;
}


.bill-fly-total--margin {
    margin-top: 3rem;
}

.bill-fly-total__title--margin {
    margin-left: 10%;
}

.bill-fly-price__list--padding {
    padding: 0 1rem;

}

.bill-fly__voucher {
    margin-top: 1.8rem;
    z-index: 2;
    margin-bottom: 1.2rem;
}

.bill-fly__voucher-btn {
    font-size: 1.4rem;
    font-family: 'helvetica-neue-medium';
    color: var(--white-color);
    background-color: var(--green-fly-color);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    cursor: pointer;
}
.bill-fly__voucher input{
    margin-top: 1rem;
    width: 100%;
    border: 2px solid var(--bg-blue-color);
    width: 100%;
}

.bill-fly__voucher input[type='text']{
    font-size: 1.4rem;
    color: var(--bg-blue-color);
    line-height: 2.5rem;
    padding-left: 1rem;
}

.bill-fly__voucher input::placeholder /* Chrome, Firefox, Opera, Safari 10.1+ */
    {
    color: var(--bg-blue-color);
    opacity: 1; /* Firefox */
}
.bill-fly__voucher input:-ms-input-placeholder , /* Internet Explorer 10-11 */
.bill-fly__voucher input::-ms-input-placeholder /* Microsoft Edge */
    {
    color: var(--bg-blue-color);
}


 /* Detail Fly */


.result__view-detail-item-arrival {
    font-family: 'helvetica-neue-medium';
    color: var(--blue-fly-color);
    font-size: 2rem;
    padding: 1rem 2rem;
    margin-top: 1.4rem;
    border-bottom: 1px solid #d3dfe6;
    cursor: pointer;
    border-right: 2px solid #d3dfe6;
}

.result__view-detail-head-pd {
    display: flex;
}

.result__view-detail-head-item-pd, 
.result__view-detail-head-item-pd-return { 
    font-family: 'helvetica-neue-medium';
    color: var(--blue-fly-color);
    font-size: 2rem;
    padding: 1rem 2rem;
    margin-top: 1.4rem;
    border-bottom: 1px solid #d3dfe6;
    cursor: pointer;
    border-right: 2px solid #d3dfe6;    
    z-index: 2;
}
.result__view-detail-head-item-pd:last-child,
.result__view-detail-head-item-pd-return:last-child {
    border-right: none;    
}

.result__view-detail-head-item-pd.active,
.result__view-detail-head-item-pd-return.active {
   
    border-bottom: 6px solid #00aeef;
    position: relative;
    color: var(--white-color);
}

.result__view-detail-head-item-pd.active::after ,
.result__view-detail-head-item-pd-return.active::after{
    background-color: var(--blue-fly-color);
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 93%;
    width: 100%;
    z-index: -1;
}

.result__view-detail-item-pd:not(:first-child),
.result__view-detail-item-pd-return:not(:first-child) {
    display: none;
}


.result__view-detail-policy-bottom-pd ,
.result__view-detail-policy-bottom-pd-return {
    background-color: #00aeef;
    /* display: flex; */
    display: none;
    padding: 1.5rem 4rem;
    align-items: center;
    margin-top: -3rem;
}
.result__view-detail-policy-bottom-pd img,
.result__view-detail-policy-bottom-pd-return img{
    height: 5rem;
    margin-right: 4rem;
}

/* Information Guest */

.guest__information {
    margin-top: 3.3rem;
}

.guest__information-head {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-blue-guest);
    border-radius: 3px;
    padding: 1.2rem 2rem;
    align-items: center;

}
.guest__information-head-text {
    font-family: 'helvetica-neue-medium';
    font-size: 2.4rem;
    color: var(--white-color);
}


/* who information */

.guest__information-wrapper {
    padding: 4rem 7rem;
    background-color: var(--white-color);
}

.guest__information-content-adult,
.guest__information-content-children {
    display: flex;
    flex-direction: column;
}
.guest__information-content-children {
    margin-top: 3.3rem;
}

.guest__information-type-text {
    display: flex;
    align-items: center;
}
.guest__information-type-text span{
    height: 3rem;
    width: 3rem;
    border-radius: 4px;
    background-color: var(--green-fly-color);
    font-family: 'helvetica-neue-condensed-black';
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
}
.guest__information-type-text h4{
    font-family: 'helvetica-neue-medium';
    font-size: 2.4rem;
    color: var(--blue-fly-color);
    text-transform: uppercase;
    margin-left: 1rem;
}

.guest__information-list {
    margin-top: 5rem;
}

.guest__information-item {
    display: flex;
    flex-direction: column;
}

.guest__information-number-text {
    font-family: 'helvetica-neue-medium';
    font-size: 2rem;
    color: var(--blue-fly-color);
    position: relative;
    margin-left: 3rem;
}

.guest__information-number-text::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 32px;
    background-color: var(--primary-color);
    top: -5px;
    left: -30px;
    border-radius: 5px;
}


.guest__information-detail {
    display: flex;
    margin-top: 3.8rem;
}

.guest__information-detail-name {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}
.guest__information-detail-name h5,
.guest__information-detail-nick h5,
.guest__information-detail-date h5,
.guest__information-detail-gender h5{
    font-family: 'helvetica-neue-medium';
    font-size: 1.6rem;
    color: var(--blue-fly-color);
    margin-bottom: 0.7rem;
}
.guest__information-detail-name input{
    width: 33rem;
    border: 2px solid #edf2f6;
    border-radius: 2px;
    height: 100%;
    font-family: 'Alegreya-Regular';
    font-size: 2.5rem;
    padding-left: 2rem;
}
.guest__information-detail-name input::-webkit-input-placeholder,
.guest__information-detail-name input::placeholder {
   font-size: 1.6rem;
   color: #b4b4c8;
}

.guest__information-detail-nick {
    margin-left: 2rem;
    margin-right: 2rem;
    position: relative;
}


.guest__information-detail-nick-box,
.guest__information-detail-date-box,
.guest__information-detail-gender-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #edf2f6;
    color: #b4b4c8;
    font-family: 'Alegreya-Regular';
    font-size: 1.6rem;
    padding: 1.3rem;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}
.guest__information-detail-nick-box span,
.guest__information-detail-gender-box span{
    margin-right: 6.4rem;
}

.guest__information-detail-slute,
.guest__information-detail-gender-list,
.guest__information-luggage-option-list {
    position: absolute;
    bottom: -11rem;
    left: 0;
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    border-radius: 2px;
    /* display: flex; */
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--white-color);
    z-index: 1;
}

.guest__information-detail-gender-list,
.guest__information-luggage-option-list {
    bottom: -7.2rem;
}

.guest__information-luggage-option-list {
    width: 150%;
}

.guest__information-luggage-option-item span{
    padding-right: 1rem;
}

.guest__information-slute-item,
.guest__information-gender-item,
.guest__information-luggage-option-item {
    
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 1.4rem;
    color: var(--bg-blue-guest);
}

.guest__information-slute-item:hover ,
.guest__information-gender-item:hover {
    background-color: rgba(0,0,0,0.05);
}

.guest__information-slute-item span,
.guest__information-gender-item span{
    font-family: 'helvetica-neue-medium';
}
.guest__information-slute-item i,
.guest__information-luggage-option-item i,
.guest__information-gender-item i{
    display: none;
}
.guest__information-slute-item.active i,
.guest__information-luggage-option-item.active i,
.guest__information-gender-item.active i{
    display: block;
}

.guest__information-detail-gender,
.guest__information-detail-date {
    margin-right: 2rem;
    position: relative;
}

.guest__information-detail-date-box {
    padding: 1rem;
}


.guest__information-detail-date input{
    border: none;
    font-size: 1.4rem;
    font-weight: 700;
}


.guest__information-detail-date input[type=date]:invalid::-webkit-datetime-edit {
    color: #999;
}

.guest__information-luggage {
    background-color: #edf2f6;
    width: 67%;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    margin-top: 2rem;
    align-items: center;
}
.guest__information-luggage h5{
    font-family: 'helvetica-neue-bold';
    font-size: 1.6rem;
    color: #404057;
    padding: 1.4rem 2rem;
}

.guest__information-luggage-option {
    cursor: pointer;
    position: relative;
}




.guest__information-luggage-option-lable {
    display: flex;
    font-size: 1.6rem;
    font-family: 'helvetica-neue-medium';
    color: #b4b4c8;
}
.guest__information-luggage-option-lable i{
    margin-left: 1rem;
}

.guest__information-luggage-price {
    font-family: 'helvetica-neue-condensed-black';
    font-size: 1.8rem;
    color: var(--white-color);
    background-color: var(--green-fly-color);
    padding: 1.4rem 2rem;
    border-radius: 4px;
}


.guest__add-service {
    margin-top: 5.5rem;
}

.guest__add-service-list {
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-around;
}

.guest__add-service-item {
    display: flex;
    flex-direction: column;
    padding: 4rem 5rem;
    position: relative;
}

.guest__add-service-item.active {
    border: 3px solid var(--green-fly-color);
    border-radius: 4px;
}

.guest__add-service-icon {
    text-align: center;
    font-size: 2.2rem;
    color: #404057;
    margin-bottom: 3rem;
}

.guest__add-service-title {
    font-size: 1.6rem;
    color: #bfbfd0;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    font-family: 'helvetica-neue-medium';
    justify-content: center;
}

.guest__add-service-feature-list {
    margin-top: 3.1rem;
    padding-right: 5rem;
}

.guest__add-service-feature-item {
    font-size: 1.6rem;
    color: #bfbfd0;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.guest__add-service-feature-item.active i{
    color: #32d093;
}
.guest__add-service-feature-item.active span{
    color: #404057;
}
.guest__add-service-feature-item span{
    margin-left: 1.3rem;
}

.guest__add-service-btn {
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    font-weight: 700;
}

.guest__add-service-btn span{ 
    background-color: var(--green-fly-color);
    padding: 1.5rem 4.5rem;
    border-radius: 4px;
    cursor: pointer;
}
.guest__add-service-btn span:hover {
    background-color: #8de22b;
}

.guest__add-service-item-delete {
    position: absolute;
    top: -14px;
    right: -15px;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    z-index: 1;
    cursor: pointer;
    background-color: var(--white-color);
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #626273;
}

.guest__add-service-btn.disabled span { 
    background-color: #edf2f6;
    color: #bfbfd0;
    cursor: no-drop;
}


.guest__add-service-item.active .guest__add-service-item-delete {
    display: flex;
}

/* Get email */

.guest__email-tel {
    margin-top: 4.3rem;
}

.guest__email-tel__body {
    background-color: var(--white-color);
    padding: 5rem 7rem;
    display: flex;
    flex-direction: column;
}
.guest__email-tel__body-top {
    display: flex;
    justify-content: flex-start;
}
.guest__email-tel__body-bottom {
    margin-top: 1rem;
}


.guest__email-tel__infor {
    font-family: 'helvetica-neue-medium';
    color: #404057;
}

.guest__email-tel__infor h5{
    font-size: 1.6rem;
}

.guest__email-tel__infor input{
    border: 2px solid #b4b4c8;
    color: #404057;
    width: 33rem;
    border-radius: 4px;
    font-size: 2rem;
    padding: 1rem;
    margin-top: 0.7rem;
    font-family: 'helvetica-neue-medium';
}

.guest__email-tel__infor input::-webkit-input-placeholder,
.guest__email-tel__infor input::placeholder {
   font-size: 1.6rem;
   color: #b4b4c8;
   font-family: 'helvetica-neue-light';
}

.guest__email-tel__infor--margin {
    margin-left: 2.2rem;
}

.guest__email-tel-policy {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    line-height: 2rem;
    font-family: 'helvetica-neue-medium';
    color: #b4b4c8;
}


.guest__email-tel-policy h5:first-child{
    margin-bottom: 0.5rem;
}

.guest__email-export-bill {
    padding-top: 1rem; 
    flex-wrap: wrap;
    display: none;
}

.guest__email__infor_company {
    font-family: 'helvetica-neue-medium';
    color: #404057;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.guest__email__infor_company:last-child {
    margin-right: 0;
}

.guest__email__infor_company input::-webkit-input-placeholder,
.guest__email__infor_company input::placeholder {
   font-size: 1.6rem;
   color: #b4b4c8;
   font-family: 'helvetica-neue-light';
}

.guest__email__infor_company h5 {
    margin-bottom: 0.5rem;
}

.guest__email__infor_company input {
    border: 2px solid #b4b4c8;
    color: #404057;
    width: 33rem;
    border-radius: 4px;
    font-size: 2rem;
    padding: 1rem;
    margin-top: 0.7rem;
    font-family: 'helvetica-neue-medium';
}




.btn-next-step {
    padding-top: 3.3rem;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 8rem;
}
.btn-next-step a, .btn-next-step a:hover{
    text-decoration: none;
}

.btn-next-step--modified {
    font-size: 3rem;
    height: 6.6rem;
    width: 22rem;
    border-radius: 1rem;
    text-transform: none;
    font-family: 'helvetica-neue-bold';
}


.result__view-detail-title-pd {
    font-family: 'helvetica-neue-bold';
    font-size: 1.6rem;
    color: #404057;
}



/* Service Plus */

.service-plus-pd {
    max-width: 100%;
    margin: 0 auto 1rem auto;
    flex-direction: column;
    display: none;
}

.result__view_detail-waiting-pd {
    display: flex;
    justify-content: center;
    background-color: #edf2f6;
    padding: 1rem 0;
    border-radius: 3px;
}
.result__view_detail-waiting-pd li{
    font-family: 'Alegreya-Bold';
    font-size: 1.4rem;
    color: #404057;
}
.result__view_detail-waiting-pd span{
    font-family: 'Alegreya-Regular';
}


.result__view-time-total-pd {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10%;
    position: relative;
}

.result__view-time-total-label-pd {
    font-family: 'Alegreya-Bold';
    font-size: 1.4rem;
    color: #bac5c9;
    margin-bottom: 3rem;
    display: block;
}

.result__view-time-total-bar-pd {
    width: 80%;
    height: 3px;
    background-color: #bac5c9;
    position: absolute;
    top: 32%;
}

.result__view-time-total-bar-pd::after {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    background-color: #bac5c9;
    border-radius: 50%;
    top: -3px;
    left: 0;
}
.result__view-time-total-bar-pd::before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    background-color: #bac5c9;
    border-radius: 50%;
    top: -3px;
    right: 0;
}


.result__view-time-place-pd {
    font-size: 1.3rem;
    color: #404057;
    font-weight: 700;
}
.result__view-time-place-pd h5:nth-child(1) {
    font-family: 'Alegreya-Regular';
    font-weight: 400;
    margin-bottom: 1rem;
}
.result__view-time-place-pd h5:nth-child(2) {
    font-family: 'Alegreya-ExtraBold';
    font-weight: 700;
    margin-bottom: 1rem;
}
.result__view-time-place-pd h5:nth-child(3) {
    font-weight: 600;
}
.result__view-time-place-pd:last-child {
    text-align: right;
}

.result__view_detail-time-pd {
    display: flex;
}


.result__view-detail-pd {
    display: flex;
    flex-direction: column;
    padding: 3rem 3.8rem;
}


.result__view_name-brand-pd {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}


.result__view_brand-name-pd {
    display: flex;
    flex-direction: column;
    margin-left: 1.2rem;
    font-family: 'Alegreya-Regular';
    font-size: 1.4rem;
    color: #80979f;
}

.result__view_brand-name-pd span:first-child {
    color: var(--blue-fly-color);
    font-family: 'helvetica-neue-bold';
}

.result__view_brand-name-pd span:last-child {
    color: black;
}


/* buy luggage  */
.buy__luggage__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: none;
}

.buy__luggage-mb {
    z-index: 999999;
    background-color: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 92%;
    height: 50%;
    box-shadow: 0 0 0.4rem;
    transform: translateY(300%);
}


.buy__luggage-mb-header {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-top: 2rem;
    position: relative;
}
.buy__luggage-close {
    position: absolute;
    top: -1rem;
    right: 3rem;
    font-size: 2.5rem;
    color: #615959ee;
}

.buy__luggage-mb-list {
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 2rem;
    border-top: 1px solid #e1e1e1;
    overflow-y: auto;
}
.buy__luggage-mb-item {
    padding: 1.5rem 2rem;
    border-bottom: 1px dashed;
    display: flex;
    align-items: center;
}
.buy__luggage-mb-item input{
    margin-right: 1rem;
}

.guest__information-mb {
    display: none;
}

.guest__information-mb-check {
    font-size: 1.5rem;
    font-family: 'helvetica-neue-light';
}

.guest__information-mb-option {
    box-shadow: 0 0 0.1rem;
    margin-top: 1rem;
    display: none;
}

.guest__information-mb-option >div{
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    padding-left: 2rem;
}

.guest__information-mb-choose {
    background-color: var(--white-color);
    padding: 1rem;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    border-left: 1px solid #e1e1e1;
    align-items: center;
}

.guest__information-mb-option h5 {
    margin-right: 3rem;
}