:root {
    --bg-blue-guest: #31a9e1
}
.wrapper-fluid-bg-color-pm {
    background-color: #edf2f6;
}


/* change flight */
.change-search__head {
    background-color: var(--bg-blue-guest);
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0 4.2rem;
    margin-top: 3.2rem;
}

.change-search__departure ,.change-search__return{
    display: flex;
    align-items: center;
}

.change-search-icon {
    height: 4.4rem;
    width: 4.4rem;
    border-radius: 50%;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.change-search-icon i{
    font-size: 2.1rem;
    color: #404057;
}

.change-search-content {
    display: flex;
    flex-direction: column;
}

.change-search-content h3{
    font-size: 2.4rem;
    font-family: 'helvetica-neue-medium';
    color: var(--white-color);
    margin-bottom: 0.7rem;
}

.change-search-content h4{
    font-family: 'helvetica-neue-regular';
    font-size: 2rem;
    color: var(--white-color);
}

.change-search-link {
    text-decoration: none;
}

.change-search-btn {
    color:var(--blue-fly-color);
    font-size: 2.2rem;
    font-family: 'helvetica-neue-condensed-black';
    background-color: var(--white-color);
    padding: 1.2rem 1.3rem;
    border-radius: 3px;
}

/* progress */



.flight__detail-head {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-blue-guest);
    border-radius: 3px;
    padding: 1.2rem 2rem;
    align-items: center;

}

.flight__detail-head-pm {
    margin-top: 3.2rem;
}

.flight__detail-head-text {
    font-family: 'helvetica-neue-medium';
    font-size: 2.4rem;
    color: var(--white-color);
}

.progress-bar-list {
    display: flex;
}

.progress-bar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white-color);
    margin-left: 5rem;
    position: relative;
}

.progress-bar-item.done {
    color: var(--blue-fly-color);
}

.progress-bar-item.done .progress-bar-icon {
    background-color: var(--blue-fly-color);
    border-color: var(--blue-fly-color);
}
.progress-bar-item.done i {
    color: var(--white-color);
}

.progress-bar-item.progress {
    color: var(--blue-fly-color);
}

.progress-bar-item.progress .progress-bar-icon{
    background-color: var(--white-color);
    border-color: var(--blue-fly-color);
}



.progress-bar-item::after {
    content: "";
    position: absolute;
    width: 220%;
    height: 2px;
    background-color: var(--white-color);
    top: 68%;
    left: 67%;
    z-index: 1;
}

.progress-bar-item:last-child::after {
  
    background-color: transparent;
}
.progress-bar-item:first-child::after {
    background-color: var(--blue-fly-color);
}
  
.progress-bar-list.infor-guest .progress-bar-item:nth-child(2)::after {
    background-color: var(--blue-fly-color);
}

.progress-bar-title {
    font-family: 'Alegreya-Regular';
    font-size: 1.05rem;
    font-weight: 600;
    margin-bottom: 6px;
}


.progress-bar-icon {
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    border: 1px solid var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: var(--bg-blue-guest);
    font-size: 1.4rem;
    font-family: 'helvetica-neue-medium';
}

.progress-bar-icon i{

}


.confirm__containner__wrapper-pm {
    margin-top: 0;
    margin-bottom: 2.1rem;
    padding: 0;
}

.bill__head-pm {
    background-color: var(--white-color);
    color: #256fd3;
    font-family: 'helvetica-neue-condensed-black';
    font-size: 2.1rem;
}


.flight__detail-head-pm .infor-guest .progress-bar-item:nth-child(3)::after {
    background-color: var(--blue-fly-color);
}


.bill-fly__voucher {
    margin-top: 1.8rem;
    z-index: 2;
    margin-bottom: 1.2rem;
}

.bill-fly__voucher-btn {
    font-size: 1.4rem;
    font-family: 'helvetica-neue-medium';
    color: var(--white-color);
    background-color: var(--green-fly-color);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    cursor: pointer;
}
.bill-fly__voucher input{
    margin-top: 1rem;
    width: 100%;
    border: 2px solid #0079a7;
    width: 100%;
}

.bill-fly__voucher input[type='text']{
    font-size: 1.4rem;
    color: var(--bg-blue-color);
    line-height: 2.5rem;
    padding-left: 1rem;
}

.bill-fly__voucher input::placeholder /* Chrome, Firefox, Opera, Safari 10.1+ */
    {
    color: var(--bg-blue-color);
    opacity: 1; /* Firefox */
}
.bill-fly__voucher input:-ms-input-placeholder , /* Internet Explorer 10-11 */
.bill-fly__voucher input::-ms-input-placeholder /* Microsoft Edge */
    {
    color: var(--bg-blue-color);
}




.bill-fly-luggage-pd {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #26b4f0;
    margin-top: 1.5rem;
    font-size: 1.4rem;
    font-family: 'Alegreya-Regular';
    color: var(--white-color);
}
.bill-fly-luggage-pd span{
    font-weight: 600;
}

.bill-fly__departure-pd, .bill-fly__return-pd {
    margin-right: 0;
    display: flex;
    flex-direction: column;
}

.bill__head-pd {
    font-size: 2.1rem;
    margin-top: 2.7rem;
    text-align: center;
    font-family: 'helvetica-neue-condensed-black';
    color: var(--blue-fly-color);
    margin-bottom: 3rem;
}

.bill-fly-title--left {
    left: 3rem;
}

.bill-fly__sub-pd {
    color: #b4b4c8;
    line-height: 1.6rem;
}

.bill-fly__sub-pd h5 {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: 'helvetica-neue-light';
}
.bill-fly__sub-pd span {
    font-weight: 700;
}

.bill-fly__sub-pm {
    color: #b4b4c8;
    line-height: 1.6rem;
    font-family: 'helvetica-neue-light';
    font-size: 1.3rem;
}
.bill-fly__sub-pm h5:first-child {
    font-size: 1.5rem;
    font-family: 'helvetica-neue-medium';
    color: #b4b4c8;
    margin-bottom: 2.7rem;
}

.bill-fly__sub-pm h5:not(:first-child){
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.bill-fly__sub-pm h5 span{
    font-weight: 700;
}


.bill-fly-service-add {
    background-color: #26b4f0;
    margin-top: 5px;
    color: var(--white-color);
    padding: 1rem; 
}

.bill-fly-service-add__head {
    display: flex;
    justify-content: space-between;
}

.bill-fly-service-add-text {
    display: flex;
    font-family: 'Alegreya-Bold';
    font-size: 1.38rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.bill-fly-service-add-icon {
    padding-left: 0.6rem;
    font-size: 1.4rem;
   
}
.bill-fly-service-add-icon .fa-sort-up{
    display: none;
}

.bill-fly-service-add-price {
    font-family: 'Alegreya-ExtraBold';
    font-size: 1.3rem;
}

.bill-fly-service-add__content {
    font-family: 'Alegreya-Regular';
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    display: none;
}

.bill-fly-service-add__item {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    line-height: 1.4rem;
}

.tour__guide-pm {
    position: relative;
    margin-bottom: 11.7rem;
}


.guide__heading-pm {
    position: absolute;
    top: -17rem;
    left: 0;
    width: 39rem;
}
.flash__sale-pm {
    margin-top: 4.6rem ;
}


.flash__sale-view__container-pm {
    width: 27.5rem;
    height: 36rem;
}

.flash__sale-view-img-pm {
    height: 16rem;
}

.flash__sale-view-name-pm {
    font-size: 1.2rem;
    padding: 0 6rem;
    margin-top: 1.7rem;
}

.flash__sale-view-subname-pm {
    font-size: 1.2rem;
    margin-top: 1rem;
    text-align: center;
}

.flash__sale-view__number-pm {
    margin-top: 1rem;
}

.flash__sale-view__price {
    padding-top: 3rem;
}

.flash__sale-view__price-number-pm h5{
    font-size: 3rem;
}

.flash__sale-btn-pm  {
    margin-top: 3.5rem;
}


.confirm__containner-pm {
    width: 72%;
    margin-right: 2rem;
}

.bill__wrapper-pm {
    width: 31.8rem;
}

.flash__sale-view-list-pm, .flash__sale-view-pm {
    padding-left: 0;
}

.flash__sale-view-pm {
    height: 72.6rem;
    position: relative;
    margin-top: 2.7rem;
    display: flex;
    justify-content: center;
}
.flash__sale-view-list-pm {
    display: flex;
    justify-content: flex-end;
    padding-top: 3%;
    z-index: 1;
}

.flash__sale-title-pm h4{
    font-size: 2rem;
}
.flash__sale-title-pm h3{
    font-size: 3.6rem;
    margin-top: 1.8rem;
}

.time__number__container-pm  {
    height: 11rem;
    width: 11rem;
    margin-bottom: 1.5rem;
}

.time__number-pm {
    height: 10rem;
    width: 10rem;
    font-size: 3rem;
    background-color: #edf2f6;
}

.time__name-pm {
    font-size: 2rem;
}


/* Box pay  */

.box__pay__wrapper {

}

.box__pay {
    background-color: var(--white-color);
    padding: 2.8rem 5rem 7.5rem;
}

.box__pay-title {
    font-family: 'helvetica-neue-medium';
    font-size: 1.2rem;
    color: var(--blue-fly-color);
    font-weight: 700;
}

.box__pay-type-list {
    display: flex;
    justify-content: space-between;
    margin-top: 0.8rem;
    margin-bottom: 1.8rem;
}

.box__pay-type-item {
    cursor: pointer;
}

.box__pay-type-item.active {
    border: 3px solid var(--primary-color);
    border-radius: 4px;
}


.box__pay-type-img {
    /* width: 11rem; */
    height: 6.3rem;
    max-width: 11rem;
}

.box__pay-input-list {
    display: flex;
    flex-wrap: wrap;
}

.box__pay-input-item {
    margin-bottom: 4.5rem;
    margin-right: 1.5rem;
}
.box__pay-input-item h5{
    font-family: 'helvetica-neue-medium';
    font-size: 1.2rem;
    color: #404057;
    margin-bottom: 0.8rem;
}
.box__pay-input-item input{
    border: 2px solid #edf2f6;
    border-radius: 3px;
    height: 3.3rem;
    padding-left: 1rem;
}
.box__pay-input-item:nth-child(1) input,
.box__pay-input-item:nth-child(2) input{
    width: 23.5rem;
}
.box__pay-input-item:nth-child(3) input{
    width: 18rem;
}
.box__pay-input-item:nth-child(4) input{
    width: 5rem;
}
.box__pay-input-item input::placeholder,
.box__pay-input-item input:-ms-input-placeholder , /* Internet Explorer 10-11 */
.box__pay-input-item input::-ms-input-placeholder /* Microsoft Edge */
    {
    color: #b4b4c8;
    font-size: 1.2rem;
    font-family: 'helvetica-neue-medium';
    font-weight: 700;
}

.box__pay-acc-company {
    flex-direction: column;
    display: none;
}
.box__pay-acc-company-head {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.box__pay-acc-company-head span {
    font-size: 1.6rem;
    font-weight: 700;
}
.box__pay-acc-company-head img {
    height: 3rem;
}
.box__pay-acc-company-list {
    display: flex;
    flex-wrap: wrap;
}
.box__pay-acc-company-item {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: #5d5656;
    width: 47%;
    margin-right: 2rem;
}

.box__pay-acc-company-item-head {
    margin-bottom: 1rem;
}
.box__pay-acc-company-item-container {
    border: 1px solid #e1e1e1;
    padding: 1rem;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    height: 6rem;
    align-items: center;
}
.box__pay-acc-company-number {
    line-height: 2rem;
}
.box__pay-btn-copy {
    display: block;
    width: 10rem;
    margin-left: 1rem;
}
.box__pay-btn-copy {
    cursor: pointer;
    color: var(--bg-blue-guest);
}
.box__pay-btn-copy:active {
    color: #b63d3d;
}

.box__pay-acc-company-name {
    font-size: 1.5rem;
    color: #5d5656;
}


.box__pay-btn {
    margin-top: 3rem;
    display: flex;
    justify-content: flex-end;
}

.box__pay-btn a,
.box__pay-btn a:hover{
   text-decoration: none;
}

.box__pay-btn span{
    font-family: 'helvetica-neue-medium';
    font-size: 1.8rem;
    color: var(--white-color);
    background-color: var(--green-fly-color);
    padding: 1.5rem 2.3rem;
    border-radius: 4px;
    cursor: pointer;
}

.flash__sale-time__list-pm {
    margin-top: 3rem;
}

/* summary */

.bill-fly-title-pm {
    position: relative;
}

.bill-fly-title-pm::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 32px;
    background-color: var(--primary-color);
    top: -5px;
    left: -30px;
    border-radius: 5px;
}

.bill-fly-title-pm h5{
    font-family: 'helvetica-neue-medium';
    font-size: 2rem;
    color: var(--blue-fly-color);
}

.bill-fly-guest-pm {
    margin: 3rem 3rem 0 5rem;
}

.bill-fly-title-pm {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.bill-fly-title-pm span{
    font-family: 'helvetica-neue-medium';
    font-size: 2rem;
    color: var(--blue-fly-color);
}
.bill-fly-title-pm span:last-child{
    color: #b4b4c8;
}

.bill-guest {

}

.bill-guest-name {
    font-size: 1.8rem;
    color: #404057;
    font-weight: 700;
    margin-top: 2.2rem;
}

.bill-guest-name i{
    color: #b4b4c8;
    margin-right: 1.2rem;
}

.bill-guest-infor-list {
    margin-top: 2rem;
}

.bill-guest-infor-item {
    display: flex;
    justify-content: space-between;
    font-family: 'Alegreya-Regular';
    font-size: 1.5rem;
    color: #404057;
    margin-bottom: 1rem;
}


.bill-guest-infor-item span:last-child{
    font-family: 'Alegreya-Bold';
    color: #b4b4c8;
}

.bill-fly-total__title-pm {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.bill-fly-total__title-pm::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #00aeef;
    bottom: -50%;
    z-index: 1;
}

.bill-fly-total-text-cf {
    left: 5rem;
}

.bill-fly-total__title-icon-pm {
    margin-top: 3rem;
}

.guide__list-pm {
    margin-top: 2rem;
}