/* Mobile- table */
@media (max-width: 1200px) and (min-width: 1024px) { 
    html {
        font-size: 50%; /* 1rem = 10px */
    }
    .flash__sale-bg-container {
        left: -40%;
    }
    .flash__sale-view-list {
        position: absolute;
        left: -22%;
    }

    .flash__sale-view {
        flex-direction: row;
        right: 9rem;
        bottom: -13px;
    }

    .flash__sale-view-action {
        top: 74%;
        right: 5rem;
    }
    .view-direction {
        flex-direction: row;
        margin-bottom: 2rem;
    }

    .view-direction-item:last-child {
        margin-bottom: 0;
    }

    .view-direction-item:first-child {
        margin-bottom: 0;
        margin-right: 4rem;
    }
    
    /* rearch result  */

    .bill-fly-luggage {
        margin-left: 0;
        margin-right: 0;
    }

    /* Payment */
    .confirm__containner-pm {
        margin-left: 1rem;
    }

    .guide__heading-title-pm {
        margin-left: 1rem;
    }

}

@media (max-width: 1023px) {
   
    .hide-on-mobile-table {
        display: none;
    }
    .nav__list-mobile-tablet {
        display: flex;
        justify-content: center;
    }
    .nav__link-logo {
        top: -0.3rem;
        height: 4rem;
    }

    
    .nav__item {
        position: absolute;
        left: 50%;
        right: 0;
        text-align: center;
        top: 1%;
        margin: 0 auto;
        transform: translateX(-25%);
    }
    .nav__item-infor-name {
        padding-left: 16%;
    }

    .wrapper__header-bg {
        padding-bottom: 0.5rem;
        height: 6rem;
    }

    .top__sale {
        height: 20rem;
    }
    
    .top__sale::before {
        display: none;
    }

    .top__sale-title h1 {
        width: 100%;
        font-size: 3rem;
        text-align: center;
    }
    .guide__heading-title h2 {
        text-align: center;
    }

    .email-subcribe__content {
        flex-direction: column;
        left: 0;
        bottom: 5%;
    }

    .email-subcribe__content-title {
        width: 100%;
        text-align: center;
    }
    .email-subcribe__content-input input {
        width: 90%;
    }
    .email-subcribe__content-arrow {
        right: 10%;
    }

    .form_search-mobile {
        display: block;
    }

    .guide__list {
        display: flex;
        overflow-x: auto;
    }
    .guide__list__item {
        margin-bottom: 2rem;
        flex-shrink: 0;
        margin: 0 10px;
    }
    .guide__list::-webkit-scrollbar {
        display: none;
    }
    .service-plus {
        margin-top: 2rem;
    }
    .service-plus__head-title {
        font-size: 4rem;
        text-align: center;
        margin-bottom: 0;
    }
    .service-plus__list {
        display: flex;
        overflow-x: auto;
    }
    .service-plus__list::-webkit-scrollbar {
        display: none;
    }
    
    .service-plus__item {
        margin-bottom: 2rem;
        flex-shrink: 0;
        margin: 0 10px;
    }
    
    .service-plus__item:not(:nth-child(-n+3)) {
        display: block;
    }
    
    .footer__top-contact::before {
        background-color: transparent;
    }

    .footer__top {
        padding-top: 5rem;
    }

    .des__wrapper {
        flex-direction: column;
    }

    .destination__list {
        flex-direction: row;
    }
    .des_country--active::after {
        background-color: transparent;
    }
    .des__suggestion__city {
        width: 33.33%;
    }
    .destination__list {
        overflow-x: auto;
    }

    .destination__container-mb {
        display: block;
    }
    .search__container__number-done {
        position: absolute;
        top: 2rem;
        color: #7b7bc2;
        font-weight: 700;
        font-size: 2rem;
    }

    /* rearch result  */

    .bill-fly-luggage {
        margin-left: 0;
        margin-right: 0;
    }

    /* Passsenger Detail */
    .guest__information-detail {
        flex-wrap: wrap;
    }
    .guest__information-detail > *{
        margin-bottom: 2rem ;
    }

    .guest__email-tel__body {
        flex-wrap: wrap;
    }
    
    .guest__email-tel__body  > *{
        margin-bottom: 2rem ;
    }

    .change-search-btn {
        font-size: 1.8rem;
        padding: 1rem;
        text-align: center;
        margin-right: 1rem;
    }

    .bill-fly-total__title {
        flex-wrap: wrap;
    }
    .bill-fly-total-text {
        left: 1rem;
    }

    .wrapper-guest-infor {
        padding: 0;
    }

    .wrapper-fluid-bg-color{
        width: 100%;
    }
    .wrapper-fluid-bg-color .btn-scroll-to-top{
        right: 10rem;
    }
    .guest__information-wrapper {
        padding-right: 0;
    }

    .guest__add-service-list {
        flex-wrap: wrap;
    }

    .guest__email-tel__infor--margin {
        margin-left: 0;
    }
    .guest__add-service-item {
        padding: 3rem 3rem;
    }

    /* payment */

    .box__pay {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .box__pay-type-list {
        display: flex;
        overflow-x: auto
    }


    /* Tour search */

    .form__search-tour {
        width: 100%;
    }

    .tour__style {
        width: 100%;
    }

    .tour__style-text {
        position: absolute;
        top: 4%;
        right: 38%;
        width: 31%;
    }
    .tour__style-paginate {
        width: 100%;
        justify-content: center;
    }

    .tour__style-previous, .tour__style-next {
        display: none;
    }
    .tour__style-list {
        width: 90%;
    }
    .search-tour__container {
        flex-direction: column;
    }
    .search-tour__filter, .search-tour__result {
        width: 100%;
    }

    .tour-offer__list {
        overflow-x: auto;
    }
    .tour-offer__list::-webkit-scrollbar {
        display: none;
    }

    /* Result Flight */
    .result_item_contain .result__view_name-brand {
        /* margin-left: -10%; */
        display: flex;
        flex-direction: column;
        width: 20%;
        margin-right: -10%;
    }
    .result__view__item {
        padding: 2rem 0rem;
    }
    .result__view-detail__container,
    .result__view-detail__container-return  {
        margin: 0;
    }
    
    .result_item_contain .result__view_brand-name {
        margin-left: 12%;
    }
    .result_item_contain .result__view_brand-name span:first-child {
        display: none;
    }

    .result__view-detail-time-item .result__view_name-brand,
    /* .result__view-time-total-label, */
    .result__view-detail-head,
    .result__view-detail-price,
    .result__view-detail-title
    /* .result__view-time-total-bar */
    {
        display: none;
    }
    .result__view-detail__container  .result__view-detail,
    .result__view-detail__container-return  .result__view-detail {
        padding: 0 1rem;
        justify-content: center;
    }

    .result__view-detail__container .result__view-time-total-label,
    .result__view-detail__container-return .result__view-time-total-label {
        margin-bottom: 2rem;
    }

    .result__view-detail-time-item {
        margin: 1rem 0;
        flex-direction: column;
        align-items: stretch;
    }
    .result__view_detail-time {
        justify-content: space-between;
    }

    .result__view-btn-detail, 
    .result__view-btn-detail-return {
        width: 130%;
    }
    .result__view_brand-name span:last-child{
        font-weight: bold;
        color: black;
    }
    .result__view-detail-item:nth-child(1) {
        display: block;
    }
    .result__view-detail-item:nth-child(2),
    .result__view-detail-item:nth-child(3) {
        display: none;
    }

    .result__view-head-direction {
        font-size: 2rem;
        padding: 0.5rem;
    }
    .result__view-head-name {
        font-size: 1.6rem;
    }
    .result__view-head-date {
        font-size: 1.5rem;
    }
    .result__view__sort {
        margin-top: 1rem;
    }
    .result__view-number-fly {
        font-size: 1.4rem;
    }
    .result__view-sort-label {
        font-size: 1.5rem;
    }
    .result__view-sorted {
        margin-left: 0;
        font-size: 1.3rem;
    }
    .service__container {
        height: 70rem;
    }

    .service__wrapper {
        flex-direction: column;
    }

    .service__list {
        width: 100%;
        justify-content: center;
    }

    .service__intro {
        width: 100%;
        padding-left: 7rem;
        margin-top: 2rem;
    }
    .result__head {
        margin-top: 2rem;
    }
    .result__brand {
        margin-top: 1rem;
    }
    .result__range {
        margin-top: 0;
    }


}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

    .hide-on-table {
        display: none;
    }

    .footer__top-social {
        padding-left: 2rem;
    }

    .deal__head-nav-item:nth-child(6) {
        line-height: 2rem;
    }


    .deal__attraction-img__left,.deal__attraction-img__right {
        top: 48.5%;
        height: 40%;
    }
    .deal__attraction-img__left::after {
        position: absolute;
        content: "";
        width: 21%;
        height: 336px;
        /* background-color: red; */
        top: 0;
        left: -1rem;
        z-index: 5;
    }
    .deal__attraction-img {
        height: 35rem;
        width: 100%;
    }

    .float-content__left {
        top: -5%;
        left: 5%;
    }
    .float-content__left__content {
        margin-top: 13rem;
    }
    .float-content-btn {
        margin-left: 6.5rem;
    }

    .deal__attraction-item {
        width: 55rem;
        height: 44rem;
    }

    .flash__sale-bg-container {
        height: 76rem;
        width: 38rem;
    }
    .flash__sale-view {
        padding-left: 0;
    }

    .flash__sale-view-list {
        overflow-x: auto;
        justify-content: flex-start;
        padding-left: 0;
    }
    .flash__sale-view-list::-webkit-scrollbar {
        display: none;
    }
    .flash__sale-view-item {
        display: block ;
    }
    .flash__sale-view-action {
        top: 70rem;
        left: -3rem;
    }
    .flash__sale-view-item:not(:nth-child(-n+3)) {
        display: block;
    }
   
    

    .flash__sale-view-option {
        background-color: #4db0fb;
        padding: 1rem 0;
    }

    .search__container__number-mb {
        height: 70%;
    }

    /* flight result */

    .bill__container-result .bill-fly-title {
        margin-left: 4rem;
    }

    .bill__container-result .bill-fly__container {
        flex-direction: column;
        margin-left: 3rem;
    }
   



    /* passenger detail  */
    .wrapper-guest-infor {
        padding: 0 1rem;
    }

    .bill-fly__container-pd {
        padding: 0 1rem;
    }

    .bill-fly-price__item-pd {
        flex-direction: column;
    }

    .bill-fly-price__item-pd h5 {
        display: flex;
        justify-content: flex-end;
    }

    .bill-fly__departure-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 3rem;
    }
    
    /* confirmation */

    .confirm__containner {
        margin-right: 1rem;
    }

    .confirm__bill-tax {
        flex-wrap: wrap;
    }

    .bill__wrapper-cf {
        width: 26rem;
    }


    .bill-fly-choose-cf, .bill-fly-total__title-cf,
    .bill-fly__departure-cf, .bill-fly__return-cf {
        margin-left: 1rem;
    }

    .bill-fly-choose-cf, .bill-fly-total__title-cf {
        margin-left: 0rem;
    }
    .bill-fly-price__list-cf {
        padding-left: 1rem;
    }

    .bill-fly-total-text-cf {
        left: 3rem;
    }

    .bill-fly-title-cf {
        margin-left: 3rem;
    }

    /* payment */

    .flash__sale-view-list-pm {
        justify-content: flex-start;
        overflow-x: auto;
    }
    .flash__sale-view-list-pm::-webkit-scrollbar {
        display: none;
    }
    .bill__wrapper-pm {
        width: 20rem;
    }
    .bill-fly-guest-pm {
        margin-left: 3rem;
    }

    .bill-guest {
        margin-left: -2rem;
    }

    .bill-fly-total__title-pm {
        flex-direction: column;
    }
    .bill-fly-total__title-icon-pm {
        margin-left: 8rem;
        margin-bottom: 1rem;
    }

    .bill-fly-total__title-price-pm {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bill-fly__departure-pm, .bill-fly__return-pm {
        margin-right: 1rem;
    }

    .bill-fly-total__title-pm::after {
        bottom: -25%;
    }

    .result {
        margin-bottom: 1rem;
    }
    .bill__container {
        padding: 2rem 0;
    }

}   

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

   
    .guide__standard {
        flex-wrap: wrap;
    }

    .guide__standard__item {
        margin-bottom: 2rem;
    }

    .email-subcribe__content-title {
        font-size: 2rem;
    }

    .email-subcribe__content-input input::placeholder {
        font-size: 2rem;
    }

    .service-plus__item {
        width: 27rem;
    }
    .service-plus__img {
        height: 25rem;
    }
    .guide__list__item {
        width: 25rem;
    }
    .guide__list__img {
        height: 16.5rem;
    }
   
    .search__flight__view__value {
        width: 13rem;
    }

    .search__container__number-title {
        text-align: center;
    }

    .search__flight__view__value input {
        width: 98%;
    }
    .search__mf__view__item--return-date {
        padding-left: 15px;
    }
    .search__mf__view__date-icon {
        left: calc(50% - 10px);
    }


    /* Guest Detail */

    .flight__detail-head, .guest__information-head {
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center  ;
    }

    .flight__detail-head, .guest__information-head > * {
        margin-bottom: 1rem;

    }

    .change-search__head, .guest__information-head {
        flex-wrap: wrap;
    }

    .change-search__head, .guest__information-head  > * {
        margin-bottom: 1rem;

    }
    .change-search__departure, .change-search__return {
        line-height: 3rem;
        margin-bottom: 2rem;
    }

    .detail-return-departure {
        flex-direction: column;
    }

    .detail-group,.summary-bill {
        width: 100%;
    }

    .result__view-detail {
        padding: 3rem 0;
    }
    .result__view-detail-time-item {
        flex-wrap: wrap;
        padding: 0 1rem;
    }
    .result__view-detail-time-item, .result__view-detail-feature-item  > * {
        margin-bottom: 1rem;
    }

    .result__view-detail-feature-item {
        padding: 0 1rem;
        flex-direction: column;
        justify-content: center;
    }

    .result__view-detail-policy-bottom, .result__view-detail-policy-bottom-pd {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .result__view-detail-policy-content, .result__view-detail-policy-content {
        width: 84%;
        margin: 1rem;
    }


    .guest__information-wrapper {
        padding: 1rem;
    }

    .guest__information-detail-name input {
        width: 100%;
    }

    .guest__information-detail-nick {
        margin-left: 0;
    }
    .guest__information-luggage {
        width: 100%;
    }

    .guest__information-luggage h5 {
        padding-left: 0.5rem;
    }
    .guest__information-luggage-price {
        padding: 1.4rem;
    }
    .guest__email-tel__body {
        padding: 1rem;
    }
    .guest__email-tel__infor input {
        width: 100%;
    }

    .btn-next-step {
        justify-content: center;
    }

    .body {
        width: 100%;
    }


    /* confirmation */
    .background__header-confirm {
        height: 14rem;
        width: 100%;
    }

    .confirm__containner__wrapper {
        flex-direction: column;
    }

    .confirm__containner {
        width: 100%;
        margin-right: 0;
    }

    .confirm__content-icon {
        width: 7rem;
    }
    .confirm__bill-icon {
        width: 6rem;
    }

    .confirm__content__body {
        padding-left: 1rem;
    }

    .confirm__bill-tax {
        padding-left: 0;
        flex-direction: column;
    }

    .confirm__bill-tax input {
        width: 100%;
    }

    .confirm__bill__table {
        margin-left: 0;
    }

    .confirm-view-invoice {
        padding-left: 0;
        text-align: center;
        margin-bottom: 4rem;
    }

    .bill__wrapper-cf {
        width: 100%;
    }

    .confirm__bill-tax-item {
        margin-top: 2rem;
    }

    /* Payment */

    .guide__heading-pm {
        position: relative;
        top: 0;
        width: 30rem;
    }

    .box__pay-btn {
        margin-bottom: 3rem;
    }

    /* Search Tour */
    .form__search-tour-body {
        flex-direction: column;
    }
    .form__search-item {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #a0b4c8;
    }
    .tour__style-text {
        width: 75%;
        right: 13%;
    }

    /* Fly search */


    .bill__content ,
    .bill-fly__container {
        flex-direction: column;
    }

    .bill-fly__departure,
    .bill-fly__return {
        margin-right: 0;
    }

    .bill-fly-total {
        margin-top: 2rem;
    }

    .service__intro {
        padding-left: 0;
        margin-top: 0;
    }
    .service__intro p {
        margin-bottom: 2rem;
    }

    .result__head {
        margin-top: 1rem;
    }
    .result__head-title {
        text-align: center;
        line-height: 2.5rem;
        font-size: 1.8rem;
        margin-bottom: 0;
    }
    .result__head-content {
        display: none;
    }
    .result__brand {
        margin-top: 0;
        border: none;
    }
    .result__range-paginate {
        display: none;
    }
    .result__view-head-direction {
        font-size: 1.4rem;
    }
    .result__view-head-name,
    .result__view-sort-label  {
        display: none;
    }
    .result__view-head-date {
        font-size: 1.2rem;
    }
    .result__view_range-time {
        flex-direction: column;
    }
    .result__view-time-start,
    .result__view-time-to {
        font-size: 1.4rem;
        text-align: center;
    }
    .result__view_price-number {
        font-size: 1.4rem;
        margin-bottom: 0.3rem;
        font-weight: 700;
    }
    .btn-book-ticket {
        padding: 0.8rem;
        font-size: 1.3rem;
    }
    .result__view__item-sale {
        padding: 0.2rem;
        top: -0.2rem;
    }

    .result__view__item-sale-name {
        font-size: 1rem;
    }
    .result_item_contain .result__view_name-brand {
        margin-right: 0;
    }

    .result__view__item {
        justify-content: space-between;
        padding: 1.2rem 0 0 0;
        margin-bottom: 0.1rem;
    }

    .result__view-time-start {
        order: 1;
        margin-bottom: 0.5rem;
    }
    .result__view-time-total {
        order: 3;
    }
    .result__view-time-to {
        display: none;
    }
    .result__view-time-total-label,
    .result__view-time-total-bar {
        display: none;
    }
    .result__view-detail-policy-bottom {
        display: none;
    }

    .result__view_detail-time {
        flex-direction: column;
    }
    .result__view_detail-waiting {
        flex-direction: column;
        line-height: 1.5rem;
    }

    .result__view_detail-waiting li {
        font-size: 1.2rem;
    }
    .result__view_detail-waiting li span{
        display: inline-block;
    }

    .result__view-time-place:last-child {
        text-align: left;
        padding-top: 1rem;
        border-top: 1px dashed;
        margin-top: 1rem;
    }
    .result__view-time-place h5:nth-child(1) {
        display: none;
    }
    .bill__container {
        padding: 1rem;
    }

    .wrapper.result {
        margin-bottom: 2rem;
    }
    .result__range {
        margin: 1.5rem 0;
        padding-top: 1rem;
    }
    .result__container-departure .result__range {
        border-top: 0.5rem solid rgba(0,127,161,0.5);
    }
    .result__container-return .result__range {
        border-top: 0.5rem solid rgba(166,206,57,0.5);
    }
    .result__range-item, .result__range-item-return {
        padding: 0;
        min-width: 5rem;
    }
    .result__range-date {
        font-size: 1rem;
    }
    .result__range-price {
        font-size: 0.8rem;
    }
    .result__range-item-group,
    .result__range-item-group-return {
        width: 100%;
    }

    .brand__item  {
        width: 5rem;
        justify-content: center;
        padding: 0;
        height: 3rem;
    }
    .brand__item-logo{
        height: 80%;
        padding-right: 0;
    }

    .brand__item:not(:first-child) span {
        display: none;
    }

    .brand__item:first-child span {
        font-size: 1.5rem;
    }

    .brand__list {
        overflow-x: auto;
        padding: 0.5rem 0;
    }

    .result__view__list {
        margin-top: 1rem;
    }

    .result__view-number-fly {
        display: none;
    }
    .result__view-sorted {
        font-size: 1.2rem;
        text-align: center;
    }

    .result__view_brand-name span:last-child {
        display: none;
    }

    .btn-next-page {
        padding-top: 0;
    }

    .wrapper__header-bg {
        height: 5.5rem;
    }

    .result__range-item::before, 
    .result__range-item-return::before {
        height: 100%
    }
    .result__range-item::after, 
    .result__range-item-return::after {
        height: 100%
    }
}