/* Mobile- table */

@media (max-width: 1023px) {
   
    .hide-on-mobile-table {
        display: none;
    }
    /* detail tour */
    .infor-box {
        flex-direction: column;
    }

    .infor-guide__wrapper {
        margin-top: 0;
    }
    .infor-box {
        position: relative;
    }
    .infor-box__left {
        margin-top: 9rem;
    }
    .infor-box_profile {
        position: absolute;
        top: 1rem;
        font-size: 2.5rem;
    }
    .infor-box__title {
        position: absolute;
        top: 5rem;
        font-size: 2.5rem;
    }

    /* profile guide  */
    .profile__top__container {
        width: 90%;
        padding-top: 3rem;
    }
    .profile__top__container h1 {
        font-size: 5rem;
    }

   

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

    .hide-on-table {
        display: none;
    }

}   

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
    /* search guide */
    .search-guide__container {
        margin-top: 2rem;
    }
    .search-guide__header h5 {
        font-size: 2.5rem;
    }
    .search-guide__header h2 {
        text-align: center;
        font-size: 3.5rem;
    }
    .search-guide__body {
        margin-top: 2rem;
    }

    .filter-advanced {
        padding: 1rem 0;
    }
    
    /* detail tour */

    .infor-name__box {
        padding-top: 1rem;
    }
    .infor-name__box h4 {
        font-size: 2.5rem;
    }
    .infor-name__box h5 {
        font-size: 1.5rem;
    }
    .infor-box__right {
        padding: 1rem;
    }
    .detail-guide__comment i, .detail-guide__trip i {
        font-size: 2rem;
    }
    .detail-guide__comment span, .detail-guide__trip span {
        font-size: 1.2rem;
    }
    .detail-guide__price span {
        font-size: 3rem;
    }

    .guide-suggest__title {
        font-size: 2.3rem;
    }


    /* profile guide  */
    .profile__top__container {
        margin-bottom: 2rem;
    }
    .profile__top__container h1 {
        font-size: 2.5rem;
        margin-bottom: 0;
    }

    .profile__body__container {
        padding: 2rem 1rem 1rem;
    }
    .profile_infor-item {
        margin-bottom: 2rem;
    }
    .upload__box {
        flex-direction: column;
    }
    .profile_infor-picture {
        margin-bottom: 1rem;
    }
    .upload-name-file {
        margin-left: 0;
        margin-bottom: 1rem;
    }
    .upload-minimun-size {
        margin-left: 0;
    }
    .profile_infor-price {
        width: 70%;
    }
    .profile_infor-price__box span {
        left: 69%;
    }
    .content__send-otp {
        width: 100%;
    }
    .confirm-btn {
        padding: 1.5rem 2.5rem;
    }
    .btn-upload-profile h3 {
        font-size: 2rem;
        padding: 2rem 0;
    }
    
}